[2015-04-01 13:36] #1243 closed

[2015-04-01 14:21] arthurvr opened #1244 "Add page with all resources in learn.json"
We should have a page on the site listing all resources in `learn.json`. Might be a really popular bookmark. Also, an `edit on github` button to encourage contributions to the list.

Credits to @stephenplusplus for the idea. I'm definitely +1. If everybody likes the idea I can work on that.

[2015-04-01 14:30] stephenplusplus commented on #1244
Thanks for taking the lead on this one! :beers:

[2015-04-01 15:33] arthurvr commented on #1234
Dropping in the app list so we can easily follow this up. I'm already working on some of them as well as the tests.

- [ ] ampersand
- [ ] angular-dart
- [x] angularjs
- [ ] angularjs_require
- [ ] angularjs-perf
- [ ] ariatemplates
- [ ] atmajs
- [ ] backbone
- [ ] backbone_marionette
- [ ] backbone_require
- [x] batman
- [ ] canjs
- [ ] canjs_require
- [ ] chaplin-brunch
- [ ] closure
- [ ] comp

[2015-04-01 19:39] bkeyvani commented on #1243
LOL, You got me TodoMVC. I thought this was a bug and was going to submit an issue.

[2015-04-02 05:27] josedepaz commented on #1204
:+1:

[2015-04-02 05:28] josedepaz commented on #1204
:+1:

[2015-04-02 05:45] josedepaz commented on #1204
:+1:

Also in the ng-conf, John Papa spoke about the style guide, I think it would be good to implement todoMVC in AngularJS using good practices found there.

https://github.com/johnpapa/angular-styleguide

[2015-04-02 11:35] #895 closed

[2015-04-03 02:10] sindresorhus commented on #1244
:+1:

[2015-04-03 03:32] masrud opened #1248 "Memory leak in yui example"
Hi there,
The Todo example developed using YUI library generates leaked objects. After adding multiple items to the todo list and then removing them, it is expected that the allocated memory is released. However, I observer an increasing trend in the memory use of the page as shown by Timeline memory tab.

[2015-04-04 21:43] ovuncuzun opened #1251 "AngularFire Firebase is not defined"
Hi,

I am trying to run Firebase-Angular application. I created Firebase account and got a new Firebase URL. Then I changed the URL in the todoCtrl.js to new one but I am getting ReferenceError: $Firebase is not defined. How can i handle this?

Thanks

[2015-04-06 11:04] blakehaswell opened #1252 "Clear completed button not clickable in Firefox"
To reproduce:

* Open http://todomvc.com/examples/backbone/ in Firefox
* Add an item
* Mark it as complete
* Click “clear completed”

Appears to be a z-index issue, `ul#filters` seems to be displaying above the clear completed button.

[2015-04-06 12:36] arthurvr commented on #1248
Closing as we merged the PR ^

[2015-04-06 12:36] #1248 closed

[2015-04-07 12:32] gnjec commented on #1252
here is the solution:

#clear-completed,
html #clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	//visibility: hidden;
	position: relative;
}

#clear-completed::after {
	visibility: visible;
	//content: 'Clear completed';
	position: absolute;
	right: 0;
	white-space: nowrap;
}

[2015-04-07 12:48] gnjec commented on #1252
in chrome and in firefox etc...
there should be: Clear completed (2) - exemple
and there is only: Clear completed - inserted via css content (::after)
- visibility for html template is hidden and only css content is rendered -

but it has to be done in all exemples

[2015-04-07 13:13] samccone commented on #1252
I think this should be fixed when we bump the version of the app css.. will do now

[2015-04-07 14:19] gnjec commented on #1252
The issue is same for all examples (I think, just checked angularjs and emberjs).

[2015-04-07 14:21] arthurvr commented on #1252
Updating the todomvc-app-css version will anyways happen soon as part of https://github.com/tastejs/todomvc/issues/1234.

[2015-04-07 14:21] samccone commented on #1252
yep yep

[2015-04-07 15:04] samccone commented on #1252
Will be fixed when #1234 lands

[2015-04-07 15:58] muhammadhassan commented on #962
It is still broken on Safari and Chrome on Mac OS X
http://todomvc.com/examples/react/

I got this error (on both Safari 8 and Chrome 41)
[Log] message.name run true (contentscript.js, line 90)
[Warning] You are using the in-browser JSX transformer. Be sure to precompile your JSX for production - http://facebook.github.io/react/docs/tooling-integration.html#jsx (JSXTransformer.js, line 318)
[Error

[2015-04-07 16:05] samccone commented on #962
Seems to be working for me ...

[2015-04-07 16:27] muhammadhassan commented on #962
What version of browsers are you using? Did you tried incognito?

[2015-04-07 16:31] arthurvr commented on #962
Working for me.

[2015-04-07 16:44] petermichaux commented on #1173
I'm sorry to see you've decided to drop Maria. I don't know why you would given the current status of the Maria project. It is feature complete and super stable with no bugs being reported. It is fully documented.  It works in a very wide variety of browsers including legacy browsers. It is in use in production by multiple companies. There are many more likes for Maria than Ampersand or Troup whic

[2015-04-07 17:04] arthurvr commented on #1173
Hey @petermichaux! Thanks for jumping into the discussion. I think we dropped it for various reasons:

* The app does not have an active maintainer. We kind of need somebody to take care of stuff. https://github.com/tastejs/todomvc/issues/1110 and https://github.com/tastejs/todomvc/pulls?q=is%3Apr+author%3Apetermichaux+is%3Aclosed as a proof.
* Its commit log has some activity, but can't be consid

[2015-04-07 17:15] samccone opened #1254 "Investigate angular app memory leak"
https://github.com/tastejs/todomvc/pull/1223#discussion_r27026063

[2015-04-07 17:42] samccone commented on #1254
:white_check_mark: leak verified

#### Steps to reproduce

1. open up the angular example
2. add 9 todos
3. hit the x next to each todo
4. check node count

#### Before Fix
![screen shot 2015-04-07 at 1 35 04 pm](https://cloud.githubusercontent.com/assets/883126/7029367/271a1e66-dd2b-11e4-9114-a3a7eef97c00.png)

#### After Fix
![screen shot 2015-04-07 at 1 35 52 pm](https://cloud.githubusercontent

[2015-04-07 17:45] arthurvr commented on #1254
wow. Thanks Sam! :+1:

Sure. Open a docs issue and I think they may be willing to improve this.

[2015-04-07 18:00] Garbee commented on #1254
Sounds very reasonable that the DevTools could do something to alert the developer to this.

[2015-04-07 18:23] petermichaux commented on #1173
The Maria project will see more activity eventually around documentation but it will likely never appear to be highly active project. The code base is complete: it has Model, View, and Controller classes. It does not receive any bug reports even though it is use under quite different requirements. The ability to plugin to Maria for extensibility was a primary design consideration. Isn't that the d

[2015-04-07 18:27] josedepaz opened #1255 "Angular Style Guide from John Papa"
In the last ng-conf, John Papa spoke about the style guide, I think it would be good to implement todoMVC in AngularJS using good practices found there. What do you think about it?

https://github.com/johnpapa/angular-styleguide

[2015-04-07 18:53] arthurvr commented on #1234
Just so I don't forget it, this would also fix https://github.com/tastejs/todomvc/issues/1252.

[2015-04-07 19:03] blakehaswell commented on #1252
Sweet. :+1:

[2015-04-07 19:05] arthurvr commented on #1252
I've been granting that PR priority today. Hopefully able to land realllyyyyy soon.

[2015-04-07 19:09] ColinEberhardt commented on #1173
@petermichaux I am sure Maria is a great MVC framework and you clearly have put a lot of effort into it.

However ... it just doesn't look like it is that widely used. I can't see any issues that were raised this year. You could take this as a sign that the project is mature and bug-free. However, it is more likely an indication that it isn't being used much. Any popular framework will get a numbe

[2015-04-07 19:20] samccone commented on #1173
Looks like @addyosmani is getting a bit of feedback on twitter about this as well
https://twitter.com/varjs/status/585348217711284224

would love to hook everyone in to this discussion

[2015-04-07 19:29] arthurvr commented on #1173
I also totally agree with what @addyosmani said on twitter. Calling a framework (or basically any piece of software) _"bug free"_ or even _"finished"_ is simply wrong. There are always improvements possible, and given the amount of bug reports other frameworks get, I think the lack of bug reports is more likely due to it being less/not popular.

At the moment, I also believe this was the right dec

[2015-04-07 19:40] addyosmani commented on #1173
One of the core goals of the project is to educate and inform developers of mature, production ready and unique solutions for building apps. Maria fell squarely in this bucket when we first landed it.

I'll reiterate that no framework should consider itself 'finished'. Even if the core solution is feature complete (e.g Backbone 1.0), you will almost certainly see bug reports and feature requests a

[2015-04-07 19:54] jamesladd opened #1256 "Bring back Maria MVC ..."
Removing Maria MVC's Todo example is setting a bad example, please bring it back.

As I understand it you removed the example because Maria MVC is marked as finished or hasn't had updates in a few years. That's because it works and for the set of usecases it addresses it has resolved known bugs.

So the more solid the code the more likely you are to remove it in favour of less solid bug ridden cod

[2015-04-07 19:56] samccone commented on #1256
@jamesladd mind migrating this comment here
https://github.com/tastejs/todomvc/issues/1173#issuecomment-90702350

[2015-04-07 19:56] #1256 closed

[2015-04-07 20:00] jamesladd commented on #1173
Removing Maria MVC's Todo example is setting a bad example, please bring it back.

As I understand it you removed the example because Maria MVC is marked as finished or hasn't had updates in a few years. That's because it works and for the set of usecases it addresses it has resolved known bugs.

So the more solid the code the more likely you are to remove it in favour of less solid bug ridden cod

[2015-04-07 20:09] mastxxr commented on #1173
Bring it back!!! It's a shame it's not in todomvc anymore! Shit frameworks can stay here but the good builded framework maria cant! Not the way to go, taste-fucking-js!

[2015-04-07 20:09] arthurvr commented on #1173
@mastxxr That's definitely not the right conduct when you want us to reconsider our decision.

[2015-04-07 20:14] hubertlepicki commented on #1173
I would like to point something else out: I frequently use TodoMVC as a way to discover new,and/or interesting frameworks/libraries. I might not end up using those, but it is great to have a site to compare solutions.

Maria MVC certainly is an interesting framework. I never used it and probably not going to use it, but seeing how the classical MVC architecture can be implemented is valuable. You

[2015-04-07 20:40] gnjec opened #1257 "Polymer items array are not in sync with (un)checked item"
Clear completed button shows incorrect value.

This issue can be resolved like this:
[code]
but there must be a better way :)

[2015-04-07 20:56] petermichaux commented on #1173
Just to ensure history doesn't record me inaccurately, I didn't and don't claim that Maria is bug free. I can't know that. She is "apparently bug free."

[2015-04-07 20:59] arthurvr commented on #845
Guys, we should really start making progress on this issue. Has been open for way to long.

How are we going to handle this? Will we need to over all of them I guess? How did we handle this in the past if I may ask that?

[2015-04-07 21:18] stephenplusplus commented on #1173
I believe the reasons the framework was removed were valid, and I also see the value in keeping it. I just wanted to quickly touch on the educational relationship between Maria and TodoMVC. If you were to look at my contributions to OSS, it's mostly aimed towards trying to make the increasingly complicated tools we use less intimidating. However, I think there's a line to be drawn for *how* TodoMV

[2015-04-07 21:36] jamesladd commented on #1173
Yes it isn't the right conduct.
I guess it's fallout from finding out just now what seems to be a criteria for keeping or removing a project - which in my view is flawed

Sent from the holodeck.

[2015-04-07 21:37] jamesladd commented on #1173
Very well put - I wish I used those words

Sent from the holodeck.

[2015-04-07 22:34] samccone opened #1259 "Firefox check icon is incorrect"
##### Firefox

![](http://dl.dropbox.com/u/36928599/Screenshots/0p8.png)
##### Chrome

![](http://dl.dropbox.com/u/36928599/Screenshots/0p9.png)

[2015-04-07 22:51] ColinEberhardt commented on #1173
The problem is there isn't a 'criteria' - if there were it would be a bit easier. Inclusion isn't based on GitHub star count, or any other metric that would make it easy to derive a precise set of criteria.

Inclusion or exclusion is the result of (healthy) debate - as is the case here.

[2015-04-08 06:37] arthurvr commented on #1110
@addyosmani ping ping ;)

[2015-04-08 13:28] arthurvr commented on #952
ping @addyosmani ;)

[2015-04-08 15:50] addyosmani commented on #1110
Go for it!

[2015-04-09 02:23] samccone opened #1260 "CSS: Homepage responsive clipping bug"
![](http://dl.dropbox.com/u/36928599/Screenshots/0pc.png)

[2015-04-09 02:42] samccone opened #1261 "angular dart sdk is quite outdated"
It is currently locked at 1.1.0 ... the newest version of the dart SDK is 1.9.0.
Perhaps someone should look at upgrading this to the latest. :space_invader:

[2015-04-09 02:49] samccone commented on #1261
It seems to compile alright with 1.9.0 ... if I do not run into anything I will update and close

[2015-04-09 09:47] gnjec commented on #1257
This is in Firefox.
In Chrome and IE11 is ok.

[2015-04-09 09:59] arthurvr commented on #1257
Thanks for reporting this! I'm able to reproduce it. The count inside of the clear completed button itself is going to get removed (https://github.com/tastejs/todomvc/pull/1245), but this is still worth looking into. The button appears at the wrong moments it seems. @addyosmani you've got an idea?

[2015-04-09 10:04] arthurvr commented on #1261
Go ahead ;)

[2015-04-09 10:09] arthurvr commented on #445
Fixed in https://github.com/tastejs/todomvc/commit/4c34a17fda47c019fe94645080da6fdc9ccbfd9b.

[2015-04-09 10:09] #445 closed

[2015-04-09 13:22] gnjec commented on #1257
![1257](https://cloud.githubusercontent.com/assets/11833945/7067524/28b95348-decc-11e4-8e5f-bbca59a7cad9.png)

[2015-04-13 14:10] cliffhall commented on #1110
I'm happy to update the PureMVC app but I'm watching this thread for confirmation that the CSS breakage of the "Clear completed" button noted above has been addressed. Until then I'm watching.

[2015-04-14 19:42] arthurvr opened #1264 "typescript-angular: revert on escape feature broken"

[2015-04-14 19:44] #1254 closed

[2015-04-14 19:45] samccone commented on #1254
:boom:

[2015-04-15 15:06] shepheb opened #1265 "FOAM app is hosted but not listed?"
The FOAM implementation of TodoMVC is [hosted](http://todomvc.com/examples/foam/) on the site and working well from my testing. It is not, however, included in any of the lists on [http://todomvc.com](http://todomvc.com). Is that the intended state, or a bug?

It would be great to be on the front list, but I suspect Labs is the right list.

See #913, #1085, and #1113 for the history of including F

[2015-04-15 15:12] arthurvr commented on #1265
I guess we just forgot it. Sorry about that! Will fix it up. Thanks for letting us know.

yup.

[2015-04-15 18:38] addyosmani commented on #1265
Thanks @arthurvr!

[2015-04-15 18:38] addyosmani commented on #1260
Is this a Polymer paper bug or our use of it?

[2015-04-15 18:40] addyosmani commented on #1255
I would defer to @igorminar for a call on this. If this style guide is generally considered best practice then sure. If not I would prefer the Angular team's preferences on style be maintained.

[2015-04-17 13:55] soundstep commented on #1110
@arthurvr Oh i just noticed you updated the soma.js ones I was bout to check. Thanks for that.
Cheers.

[2015-04-17 19:56] gnjec commented on #1259
In Firefox, css ```:after``` and ```:before``` not working on form elements (inputs - checkboxes).

[2015-04-18 12:55] addyosmani commented on #1217
The tl;dr of this is that medium custom domains are currently still private so we'll need to do a hard forward to the new location for the blog. I assume that everyone is fine with this. Will get this taken care of soon.

[2015-04-18 13:16] sindresorhus commented on #1217
Yes.

[2015-04-22 17:47] samccone commented on #1252
@arthurvr I think we can close this now :)

[2015-04-22 17:49] #1252 closed

[2015-04-22 17:49] #1265 closed

[2015-04-22 17:49] arthurvr commented on #1265
PR merged.

[2015-04-22 17:49] samccone commented on #1265
:rocket:

[2015-04-23 05:15] arthurvr commented on #546
ping @nateps @bnoguchi - you guys have any idea? Please note that the derby example is removed from the site these days.

That would actually be really handy. I mean, it's down since 2 years guys.

[2015-04-23 05:15] arthurvr commented on #1264
Dupe of https://github.com/tastejs/todomvc/issues/789.

[2015-04-23 05:15] #1264 closed

[2015-04-24 19:26] jh3y opened #1270 "Backbone.Marionette router history placement?"
Hi there,

I've just been going through the source of the example.

However, I was wondering about `Backbone.history.start()` placement.

If a user interacts with the application and then tries to copy the url into another browser tab (bookmarking), route handlers won't be fired. It isn't too important for the example but where the `TodoList.Controller` is instantiated, if you place `Backbone.hist

[2015-04-24 19:29] arthurvr commented on #1203
I would honestly love it if we could say something like

a one-off pull request submitting the app. When the app gets included on the site,
you will need to help use maintaining the app and help us to solve issues with the
implementation. If the app breaks for a decent amount of time, we will (temporary)
remove it from the site, until somebody opens a PR to fix the raised issues.

but guess it's a

[2015-04-24 19:45] arthurvr commented on #386
@jeffla @kcharwood @larsacus @mristroph would anyone of you be interested in taking this one?

[2015-04-24 19:51] arthurvr commented on #1255
@IgorMinar WDYT?

[2015-04-24 19:59] larsacus commented on #386
![http://i.imgur.com/hnwy4hR.gif](http://i.imgur.com/hnwy4hR.gif)

I'm not sure what the context is here, but since this looks like web/lavaca stuff, I think @alexwasner should be able to get the right person to look at this.

[2015-04-24 21:25] samccone commented on #1270
verified as a bug :white_check_mark:

[2015-04-25 01:51] jh3y commented on #1270
Think a possible solution would be to move `Backbone.history.start()` into `index.html` wrapped in an `on('start', func...` and change the current `on('start`, func...` to an `on('before:start', func...`.

@jh3y

[2015-04-25 02:09] jh3y commented on #1270
Submitted a PR with the proposed fix.

Happily make changes if deemed necessary.

@jh3y

[2015-04-25 04:16] #1270 closed

[2015-04-25 04:16] samccone commented on #1270
:clap:

[2015-04-25 13:23] arthurvr commented on #940
I guess this was fixed in https://github.com/tastejs/todomvc/commit/e238042285540d60c09e7575b65d96518ba5445a#diff-55f2e5cd32b5e316ccd1932569194262L34. Can you confirm it works as expected at the moment? Sorry for getting back at you late!

[2015-04-25 13:30] arthurvr commented on #1004
Works for me on all of the devices/browsers you mentioned. Please do yell at us when it's still a problem but looks like it magically got fixed :ok_hand:

[2015-04-25 13:30] #1004 closed

[2015-04-25 13:36] addyosmani commented on #1027
We haven't heard back on this. Still waiting btw :)

[2015-04-25 16:02] arthurvr commented on #826
All passing for me. Can one confirm?

[2015-04-25 16:18] arthurvr commented on #985
Fixed in https://github.com/tastejs/todomvc/commit/e714fd00c49996c96edaa7b68641e3f54b1dc6dc

[2015-04-25 16:18] #985 closed

[2015-04-25 16:23] arthurvr commented on #1251
Support questions are better asked on stack overflow. The live site doesn't have any troubles so it's likely to be specific with your setup.

[2015-04-25 16:23] #1251 closed

[2015-04-25 16:43] arthurvr commented on #828
Plastronjs was removed recently: https://github.com/tastejs/todomvc/commit/c5ddf2144af0b120eb0f24adaff6935f822c1376.

[2015-04-25 16:47] arthurvr commented on #828
Manually I confirmed sammyjs works fine, I guess we can close this issue as we anyways [don't run the tests for sammyjs](https://github.com/tastejs/todomvc/blob/c3c830453cf565dfbf779229e5943fa6c3ec8fb1/browser-tests/allTests.js#L21).

[2015-04-25 18:36] samccone commented on #828
:+1:

[2015-04-25 18:36] #828 closed

[2015-04-25 18:44] samccone commented on #826
I am seeing a new failure but unrelated
[code]

[2015-04-25 18:44] #826 closed

[2015-04-25 19:22] arthurvr commented on #858
We don't run de tests against polymer, and manually this worked fine for me.

[2015-04-26 09:05] arthurvr commented on #858
Removed this one from the list as it doesn't implement routing at all (where https://github.com/tastejs/todomvc/issues/812#issuecomment-86951517 is about)

[2015-04-26 10:01] arthurvr commented on #999
I tested this in multiple browsers and everything seems to pass. Can somebody confirm?

[2015-04-26 10:05] arthurvr commented on #988
If somebody can confirm this is fixed in Safari 8, we can close the issue as [we only support latest Safari](https://github.com/tastejs/todomvc/blob/master/contributing.md#browser-compatibility)?

[2015-04-26 14:25] arthurvr commented on #1209
ping @DimitarChristoff - are you interested?

[2015-04-26 14:32] arthurvr commented on #1001
Hey @parham-fazel, still interested in picking this up?

[2015-04-26 14:53] DimitarChristoff commented on #1209
oh sorry forgot completely. changes nearly done. got to pull upstream and
cleanup. prolly pr tomorrow night sorry.

On Sunday, April 26, 2015, Arthur Verschaeve <notifications@github.com>
wrote:

--
Dimitar Christoff

"JavaScript is to JAVA what hamster is to ham"
@D_mitar - https://github.com/DimitarChristoff

[2015-04-27 09:05] ColinEberhardt commented on #988
Yes, this is working fine for me on Safari 8.0.4

[2015-04-27 09:08] #988 closed

[2015-04-27 13:11] ColinEberhardt commented on #999
Just re-ran the tests, and all 29 passed. Looks like this issue is closed :-)

[2015-04-27 13:11] #999 closed

[2015-04-27 16:12] arthurvr commented on #1209
Awesome @DimitarChristoff!

[2015-04-27 17:29] arthurvr commented on #789
pinging @podefr for the olives app. You interested in taking this one?

[2015-04-27 17:31] podefr commented on #789
@arthurvr of course, will do, just need to other code review to go in first to build on solid grounds :)

[2015-04-27 17:35] leog opened #1276 "Better AngularJS + RequireJS app"
Hi all.

I was wondering if you'd be interested in a better AngularJS + RequireJS app implementation. It would be more organized and probably more upgradable to adopt Angular 2 in the future.

For starters, the app module wouldn't be required everywhere which is confusing and totally unnecessary. Following AngularJS recommendations, I would be creating new AngularJS modules for each implementation

[2015-04-27 21:58] samccone commented on #1276
hey @leog we are always open to improving our example apps. The best way to go about this is to open small PRs (or multiple atomic commits) that improve it in "objective ways". If you are interested in working on this it would be more than appreciated and welcome.

thanks! :sparkles:

[2015-04-27 21:58] #1276 closed

[2015-04-27 21:58] samccone commented on #988
:dancer:

[2015-04-27 22:09] leog commented on #1276
Got it, thanks.

[2015-04-27 22:11] samccone commented on #1276
No thank you :dancer:
let us know if you have any questions

[2015-04-27 23:05] leog commented on #1276
BTW, is there any reason why libraries are being retrieved by NPM instead of Bower? What about the inclusion of node_modules into the repo? I was just curious :blush:

[2015-04-27 23:23] samccone commented on #1276
hey @leog since the site is hosted on gh-pages and we want to keep the deployment and dev simple for users and people who checkout the repo and run examples, we include the npm dependencies files (only the ones that are used) in the actual repo. hopefully this makes sense let me know if not . :dancers:

[2015-04-27 23:41] leog commented on #1276
Perfect sense, thanks again!

[2015-04-28 15:58] samccone commented on #999
:dancer:

[2015-04-29 13:23] #834 closed

[2015-04-29 18:51] #946 closed

[2015-04-29 19:43] samccone opened #1281 "tests: Do not run any tests when there are no changes in the examples/ folder"

[2015-05-02 08:55] blacksonic opened #1284 "AngularJS example missing filter"
I dont find statusFilter in the example code, although it is used when listing the todos in the list.

[2015-05-02 09:07] arthurvr commented on #1284
I see it in the example code: https://github.com/tastejs/todomvc/blob/3fa235a9150f58a43474cb315adaef9196ac1b55/examples/angularjs/js/controllers/todoCtrl.js#L27 ;)

[2015-05-02 09:07] #1284 closed

[2015-05-02 09:10] blacksonic commented on #1284
sometimes this example feels like magic

[2015-05-02 09:13] blacksonic commented on #1284
the ```resolve``` in the route section and  the ```$routeChangeSuccess``` event makes the application much harder understand, there should be a clearer way to accomplish it

[2015-05-02 09:15] arthurvr commented on #1284
I haven't worked with the example's source code a bunch but if you have any concrete suggestions or a PR that would be totally welcome ;)

[2015-05-02 14:34] blacksonic opened #1285 "Node modules and angularjs tests"
Is there a reason behind committed node_modules folder?
Why is it necessary to maintain a different ```package.json``` for AngularJS tests?

The reason behind these questions is to start increase the quality of the AngularJS example to be more sane and understandable.

[2015-05-02 14:37] arthurvr commented on #1285
There is. We use npm to manage front-end dependencies so that makes sense (they should be there on the live site).

I agree in there. We better add the testing dependencies as `devDependencies` in the main angular `package.json`. You in for a PR?

[2015-05-02 14:43] blacksonic commented on #1285
Im in for a PR, will check it tomorrow.
The site is on GithubPages? Because otherwise a simple ```npm install``` would solve the frontend dependencies.

[2015-05-02 14:50] arthurvr commented on #1285
A 'simple' npm install in every app folder, yes. We should look into that for the future. We first want to setup some other CI features :)

A PR would be awesome. Don't forget to update the [`.gitignore`](https://github.com/tastejs/todomvc/blob/master/examples/angularjs/.gitignore).

[2015-05-02 17:01] addyosmani commented on #1281
:+1:

[2015-05-02 17:02] addyosmani commented on #1261
Thanks @samccone. This example is one of those I wouldn't mind us dropping in the future if it isn't getting a lot of use. Appreciate you trying to compile it with 1.9.0!

[2015-05-02 17:04] arthurvr commented on #1261
Me too. Can you check the analytics?

[2015-05-02 17:04] addyosmani commented on #1257
Confirmed this is an issue. @arthurvr I would say we should defer any Polymer 0.5.x related fixes for a few weeks and just switch to Polymer 0.8/0.9. The syntax has changed sufficiently that it's not worth us patching this up. We're working on a new TodoMVC implem and we'll PR a refresh when it's ready.

[2015-05-02 17:05] arthurvr commented on #1257
Awesome. Thanks Addy.

[2015-05-02 19:27] samccone commented on #1281
This is fixed :)

[2015-05-02 19:27] #1281 closed

[2015-05-03 04:53] josedepaz commented on #1255
Thanks for your comments, so let's wait for @IgorMinar

[2015-05-03 06:15] drbraden opened #1286 "FOAM example's "Clear completed" link doesn't work in Firefox"
Didn't work for me using Firefox 37.0.2 on OS X 10.10.3.  Checked using Chrome and Safari and worked fine.

http://todomvc.com/examples/foam/

[2015-05-03 08:16] arthurvr commented on #1286
Duplicate of https://github.com/tastejs/todomvc/issues/1252, FOAM [is one of the only ones](https://github.com/tastejs/todomvc/issues/1234) that still needs fixing.

[2015-05-03 08:16] #1286 closed

[2015-05-03 18:21] podefr commented on #789
@arthurvr I just created a PR to fix this issue #1287

[2015-05-07 18:46] nateberkopec opened #1289 "4 tests from browser-tests pass on a static page"
When tested against a static index.html with the correct TodoMVC markup with no additional Javascript, 4 of the 26 browser tests pass.

Only one of these makes sense ("should focus on the todo input field", since `autofocus` takes care of that).

Full output:

[code]

[2015-05-07 19:55] samccone commented on #1289
Yeah... it stinks because they check for the absence of elements.. so a blank page is all :green_apple: .

A simple fix would be an initial beforeEach "the page is loaded" check :)

@nateberkopec interested in opening a PR?

[2015-05-08 20:59] cmawhorter opened #1290 "Marionette displays completed tasks when "Active" tab is... uh.. active, and a task is checked"
Viewing this: http://todomvc.com/examples/backbone_marionette/

1. Add a bunch of tasks
2. Click Active (only active tasks will be shown)
3. Check a task
4. It is still displayed

All the rest hide it in this scenario.

Thanks for the service and a side question.  Any discussion on the same thing but on a larger scale?  Todo tells you a little about UX but not much.

[2015-05-08 21:01] samccone commented on #1290
:+1: good catch @cmawhorter

[2015-05-10 07:13] arthurvr commented on #1234
@shepheb @Lastalas @tomdionysus @krebbl @mckamey Any of you interested in submitting a PR to fix the your apps? The only thing that needs to happen is to update it todomvc-app-css to 1.0.4 and to remove the count from your app. If your app isn't updated to the new UI yet, you of course shouldn't update todomvc-app-css. See https://github.com/tastejs/todomvc/pull/1245 for many examples.

[2015-05-10 09:36] arthurvr commented on #1209
ping @DimitarChristoff

[2015-05-10 09:47] arthurvr commented on #1106
We discussed this with the team and decided to not have an extra implementation for this. We would like to see the community around it develop and grow.

When you feel like the plugin matured and its community matured, feel free to reopen :)

Thanks, though! :dancer:

In the wiki would be fine :)

[2015-05-10 09:47] #1106 closed

[2015-05-10 09:49] arthurvr commented on #1027
Closing due to inactivity. If you're around to answer our questions, feel free to re-open :)

[2015-05-10 09:49] #1027 closed

[2015-05-10 09:55] arthurvr commented on #1110
@cliffhall It's been fixed a while ago. Feel free to PR now :)

@schubertha You can look at the other apps as example. If the app was built without any CSS tweaking, the update should be as easy as updating dependencies to npm and including todomvc-app-css.

@soundstep Cheers! :beers:

@shepheb @kgrgreer I added FOAM to the list above. It just needs to be updated to use npm for dependencies. Anyon

[2015-05-10 11:18] #940 closed

[2015-05-10 12:30] arthurvr commented on #1259
@samccone Can you reopen this issue in todomvc-app-css? That's where the actual CSS lives so it deserves there, right?

[2015-05-10 17:15] mckamey commented on #1234
@arthurvr I am interested in updating for DUEL. Life has been busy but will check it out soon.

[2015-05-10 17:15] mckamey commented on #812
@arthurvr I am interested in updating for DUEL. Life has been busy but will check it out soon.

[2015-05-11 05:09] #1290 closed

[2015-05-11 14:24] Rian0702 commented on #1079
Same Problem here

[2015-05-12 09:40] passy opened #1293 "WebRx implementation routing doesn't use hash-bang"
The current routing implementation uses the History API which doesn't work for our statically served pages. We need to migrate this to using `location.hash` instead.

[2015-05-12 20:01] arthurvr commented on #1180
@benliebert @altmind @mikeric The PR https://github.com/tastejs/todomvc/pull/1226 was sooo close so it's super sad we had to close it due to inactivity. If anyone of you is interested in finishing it up, we're still interested :)

[2015-05-12 20:13] arthurvr commented on #635
I edited the above list to match reality a little more. Mainly ticking the ones that are done :)

[2015-05-14 16:38] sindresorhus commented on #1261
:+1:

[2015-05-14 16:41] arthurvr opened #1298 "Drop angular-dart example?"
From @addyosmani in #1261:

I'm definitely :+1:.

[2015-05-14 17:03] passy commented on #1261
The way I understood it from the latest Angular 2 announcements is that they're going to support Dart as a "compile-to" target. If they continue to officially support it and we have someone providing us with updates I'd really like to continue including it as there's a direct 1:1 mapping between the two implementations and having TodoMVC to compare them seems like a really helpful tool.

[2015-05-14 17:05] arthurvr commented on #1261
Let's move the discussion about dropping that app to #1298 and keep this issue on topic :)

[2015-05-14 17:07] samccone commented on #1261
I will go ahead and open a PR to bump the SDK

[2015-05-14 17:25] sindresorhus commented on #1298
:+1:

[2015-05-14 18:40] arthurvr commented on #203
Seems to be working correctly for me. Can you confirm that, @sindresorhus?

[2015-05-14 19:06] arthurvr commented on #815
That tests seems to be passing for me at the moment. Can anyone confirm that? Manually it seems to work fine as well.

[2015-05-15 13:30] #1203 closed

[2015-05-17 16:50] samccone commented on #1255
going to close until we get a response from @IgorMinar we can reopen when we do

[2015-05-17 16:50] #1255 closed

[2015-05-17 17:29] arthurvr commented on #812
Hey @podefr, is there still interest in picking this up? Thanks!

[2015-05-17 17:47] #1289 closed

[2015-05-17 18:28] #1293 closed

[2015-05-17 20:47] podefr commented on #812
Yes @arthurvr, I'll take care of this

[2015-05-21 01:44] treshugart opened #1306 "[submission] SkateJS"
Hey guys, I wanted to submit a proposal for including a [SkateJS](https://github.com/skatejs/skatejs) TodoMVC app.

Skate is a web component library, based on the custom element spec. While it uses the spec as a guideline it adds several features on top of it, including some to aid in transitioning to web components from legacy style components. It's not a framework, so it doesn't offer a built-in

[2015-05-21 15:29] harshal-avantsoft opened #1307 "Backbone Example is not working"
I copied all the files into my machine then try to run the app is not able to load and found the error below is the screenshot for that....

![screen shot 2015-05-21 at 8 58 31 pm](https://cloud.githubusercontent.com/assets/2596437/7752282/328811ba-fffc-11e4-9a09-cd1af5134903.png)

[2015-05-21 15:32] arthurvr commented on #1307
This seems like something which went wrong while downloading the example. It isn't reproducible on the live site. Ideal is to clone just clone the `todomvc` repo and run a local server.

[2015-05-21 15:38] samccone commented on #1307
closing since this is not reproducible via a clone of the repo

[2015-05-21 15:38] #1307 closed

[2015-05-21 15:45] harshal-avantsoft commented on #1307
I just want backbone example, will it be possible to run the app without support of

node_modules/todomvc-common/base.js

[2015-05-21 15:46] harshal-avantsoft commented on #1307
I just copy pasted the files in other directory and it's not working for me...do I need to configure anything else...

[2015-05-21 15:47] harshal-avantsoft commented on #1307
this is my repository >>> https://github.com/harshal-avantsoft/JSExplore

[2015-05-21 15:49] harshal-avantsoft opened #1308 "This is my repository where I'm not able to load the app"
this is my repository >>> https://github.com/harshal-avantsoft/JSExplore

[2015-05-21 15:49] harshal-avantsoft commented on #1308
can anybody help me to correct that?

[2015-05-21 15:51] samccone commented on #1308
hi @harshal-avantsoft the best place to ask for help like this is on stackoverflow. This issue tracker is for issues and features for TodoMVC.

[2015-05-21 15:51] #1308 closed

[2015-05-24 03:38] ffxsam opened #1309 "Meteor version, major overhaul"
Anyone have any issue with me giving the Meteor version an overhaul? Quite a bit of the code is outdated now (I'd say over 70% of it), and there are other strange things like the existence of bower files (which are not needed with Meteor). IMO todomvc is a way for people to see how the same app is built in different languages, and I think cleaning up the Meteor code would make it more appealing to

[2015-05-24 04:20] samccone commented on #1309
👍

[2015-05-24 05:12] ffxsam commented on #1309
Cool! Will dive in when I get some spare time.

[2015-05-24 05:12] #1309 closed

[2015-05-24 19:16] timmolendijk opened #1310 "BangJS (Bacon-flavored Angular) #newapp"
I implemented an app using [BangJS](http://bangjs.org), a framework/adapter for using Bacon.js in an AngularJS context:

* [Live app](http://bangjs.org/todomvc/)
* [Source](https://github.com/bangjs/todomvc)

The reason that I think it would be a valuable addition is that the FRP (functional reactive programming) approach is a distinct and powerful way of thinking about MVC web app development. Th

[2015-05-24 19:23] arthurvr commented on #1306
:+1:. PR welcome :)

[2015-05-24 19:26] samccone commented on #1310
I think you nailed the reasons why for now were are going to reject this one.
The idea of combining FRP and angular is quite interesting, and worth investigating further. Feel free to open another PR when you think the lib is ready for a more serious evaluation.

[2015-05-24 19:26] #1310 closed

[2015-05-24 19:29] arthurvr commented on #1298
cc @tastejs/todomvc more thoughts on this one?

[2015-05-24 19:31] samccone commented on #1298
Hmm so I am :-1: on this. It is pretty clear that angular2 is going to support dart as a first class language. For that reason I think this example is still valuable because down the road this will be transitioned to angular2.

tldr;
Dart is still kicking

[2015-05-24 19:32] samccone commented on #1306
going to close, and we can evaluate the PR when it comes in :clap:

[2015-05-24 19:32] #1306 closed

[2015-05-24 19:33] samccone commented on #1285
ping @blacksonic

[2015-05-24 20:13] passy commented on #1298
Agreed with Sam. They talked about it in their keynote so I'm sure it's
gonna stick around for a while.

On Sun, May 24, 2015, 20:31 Sam Saccone <notifications@github.com> wrote:

[2015-05-25 06:00] treshugart commented on #1306
Thanks guys! We'll start work on it soon.

[2015-05-25 19:24] #1261 closed

[2015-05-25 19:25] #1298 closed

[2015-05-26 06:26] arthurvr commented on #1285
There we go: https://github.com/tastejs/todomvc/pull/1311 :)

[2015-05-26 06:27] #1285 closed

[2015-05-26 06:47] urrgur commented on #1211
ok

[2015-05-26 06:48] urrgur commented on #1298
ping? Please re-open as there was still a majority.

[2015-05-26 06:49] urrgur commented on #1259
ping samcone

[2015-05-26 12:34] samccone commented on #1298
@urrgur  the team spoke out of band on this one after @passy made a very good argument. If you have an argument around why we should drop please leave it here.

[2015-05-26 12:36] samccone commented on #1259
You are correct not directly. It is related to the css repo and an issue should also be filed there. However many people open issues on the repo around this issue and I wanted to make sure we track it in both places since this repo makes the bug visible.

[2015-05-26 12:47] sindresorhus commented on #1259
I'm not sure there's anything we can do about this. As mentioned earlier in this thread it's a Firefox bug.

[2015-05-26 15:22] elacin opened #1312 "Scalajs-react example"
Hey!

I wrote a version of todomvc using scalajs [1] and scalajs-react [2]. I know it is quite different from a lot of the other languages/frameworks you have here, but seeing as you have accepted for example a GWT version i thought i would see if you would be interested in me cleaning it up and PRing it?

[1]: http://www.scala-js.org/
[2]: https://github.com/japgolly/scalajs-react

[2015-05-26 16:09] arthurvr commented on #1259
In fact I think we should move it and add a note about those repos (both app-css and todomvc-common) in `contributing.md`.

[2015-05-26 16:21] samccone commented on #1312
:+1: to this

[2015-05-26 16:36] arthurvr commented on #1312
Though it will probably move to [TasteLang](https://github.com/tastejs/TasteLang/issues/1) at one point far in the future I'm +1 for the time being. Though I'd rather see us adopting one of those examples, not both.

[2015-05-26 16:42] arthurvr commented on #1298
I personally still believe dropping it later on would be a good choice, though, I think it's the right decision to wait. I think we will all agree that Angular 2 will change the world of angular in a significant way that we're better off revisiting this later on.

[2015-05-26 19:19] samccone opened #1315 "Remove sapui5"
The app is non-functional currently.  If no one wants to fix it we will remove this example in accordance with https://github.com/tastejs/todomvc/issues/1203

----------------

ping  @schubertha @passy

any interest in fixing?

##### last (functional) change

104cfde3f5a4b08df3598f4e136a60c80549e4fd

##### Introduced in

e7fbe334bb09689fc2d14fef348263b3c25cd7b8

[2015-05-26 19:22] arthurvr commented on #1315
:+1: If nobody comes in to fix this soon let's drop it.

[2015-05-26 20:18] passy commented on #1315
Oddly, it receives a lot of traffic, but yeah, if no one's around to fix it, let's drop it.

[2015-05-27 11:19] arthurvr opened #1317 "Remove `mozart` example?"
I might be going to quick but this is one of the examples which always causes pain (for me at least).

* The app wasn't really functionally updated since it was added back in 2013.
* The framework itself isn't unique, unmaintained since October 2013 and not popular.
*  We don't have anybody to maintain the app
* Many needed updates to the app are staying open. (https://github.com/tastejs/todomvc/i

[2015-05-27 13:45] samccone commented on #1317
👍

[2015-05-27 15:25] sindresorhus commented on #1317
:+1:

[2015-05-27 16:54] samccone commented on #1317
Implementation added in 6e00474eaef2822da4eb17d1e90a125a4b1ec4a2 in 2013

--------

**Creator:** @tomdionysus

@tomdionysus any interest in fixing this?

[2015-05-27 18:20] arthurvr commented on #1317
@samccone I personally still think that, even if the author is willing to fixup some stuff, we should drop it. There's really no deal with suggesting a framework which is effectively dead.

[2015-05-28 01:59] tomdionysus commented on #1317
@samccone He's right, Bigcommerce don't officially support it anymore and
I've moved on from client MVC. I just keep mozart.io up for historical
reasons. I'm good if you remove it.

On 28 May 2015 at 06:21, Arthur Verschaeve <notifications@github.com> wrote:

[2015-05-28 05:18] arthurvr commented on #1317
Okay. That makes it quite clear. Thanks for the update @tomdionysus.

[2015-05-28 05:18] #1317 closed

[2015-05-28 10:45] akudev commented on #1315
Hi,
I'll at least have a look.

[2015-05-28 12:04] akudev commented on #1315
It appears like the previous code only worked because Array.prototype.push had been overridden by someone and had been returning the resulting array instead of the array length.
Maybe in an external library, which has been removed or fixed recently...

[2015-05-28 16:37] #1315 closed

[2015-05-28 16:40] arthurvr commented on #1110
@urrgur In our opinion, no, not anymore :)

I removed mozart from the list as we deleted the example.

[2015-05-28 16:40] arthurvr commented on #1234
Removed mozart as the example is removed. @mckamey That would be awesome! still interested?

[2015-05-28 17:25] dprotti commented on #789
Closure impl seems to be working fine http://todomvc.com/examples/closure/#/

[2015-05-28 17:31] arthurvr commented on #789
@dprotti Yep. Tests pass as well. Thanks for letting us know. I guess it was fixed but we just never ticked it on the list. Done now.

[2015-05-29 19:00] arthurvr commented on #812
ping @podefr :)

[2015-05-29 19:22] podefr commented on #812
@arthurvr I can't give you an ETA, when do you need this for? It may take a couple of months. The problem isn't the router as I've got this working somewhere in a new branch, but I need to implement a new feature to be able to filter a model without breaking data-binding, and this may take a while due to priorities.

[2015-05-29 19:23] arthurvr commented on #812
@podefr No problem I guess :) Keep us updated.

[2015-05-30 05:33] svcondor commented on #1079
index.html includes a script tag for js/Application.js. It is expecting all of the .ts files to be compiled into the single  application.js.   Either include script tags for all the .js files or change your compile task to combine the .js files. It works on VS 2015 with typescript 1.5.0-beta

[2015-05-30 10:38] arthurvr commented on #1063
IMHO one example should be enough.

[2015-05-30 12:27] samccone commented on #1079
If anyone would like to open a pr and add readme docs around how to run this in visual studio it would be very welcome. Thanks @svcondor

[2015-05-30 14:53] svcondor commented on #1079
@samccone  I'll give it a try. Should I add a file called VisualStudio.md?

[2015-05-30 17:05] samccone commented on #1079
I think it could go under a new sub heading in the markdown file for this app. Thanks!

[2015-05-31 18:18] Haroenv opened #1324 "favicon not showing"
For some reason http://todomvc.com/site-assets/favicon.ico gives a 404 error, while it is visible at https://raw.githubusercontent.com/tastejs/todomvc/master/site-assets/favicon.ico

I didn't find why, since the other images that are in the same directory do show.

[2015-05-31 18:22] arthurvr commented on #1324
The build task doesn't copy it, that's the problem. I'll fix this up.

[2015-05-31 19:02] #1324 closed

[2015-05-31 19:06] arthurvr commented on #1324
All fixed! Again, thanks for letting us know!

[2015-05-31 19:07] Haroenv commented on #1324
No problem :smile:!

[2015-05-31 20:47] arthwood opened #1325 "ArtJs example"
Hi!

I'd like to submit an example written in my own framework [ArtJs](http://artjs.org).
Here's the link to working example: [todomvc](http://todomvc.artjs.org)

[2015-05-31 20:51] samccone commented on #1325
hi @arthwood thanks for the submission.

At this point in your frameworks life we would like to see the community and ecosystem around artjs grow  before adding it to todomvc. When you feel like it has reached this point feel free to open a PR or leave a comment in this issue thread.

Again thanks!

[2015-05-31 20:51] #1325 closed

[2015-06-01 19:13] arthurvr commented on #1234
@mckamey No worries. I did it myself :)

[2015-06-05 04:01] treshugart commented on #1306
Hey guys, how do you prefer that we write unit tests? I know it's not required, but I think it's important for a library to include examples of how it can / should be tested. As I understand you haven't set anything in stone yet. Are you looking to automate this? The easiest thing for us would be to just set up a karma runner and expose it through `npm test`.

[2015-06-05 04:02] alexreardon commented on #1306
:+1:

[2015-06-05 05:34] arthurvr commented on #1306
SGTM. Also take a look at https://github.com/tastejs/todomvc/issues/254.

[2015-06-07 00:40] samccone opened #1332 "React Example Node Leak"
##### Steps  to reproduce
- start timeline profiler
  - add three todos
  - delete three todos
  - (repeat above 2 more times)
- force GC
- stop timeline profiler

![screen shot 2015-06-06 at 8 38 15 pm](https://cloud.githubusercontent.com/assets/883126/8022113/237dc1e6-0c8c-11e5-8ed2-215d84381129.png)

---

It seems like one event listener is not getting unbound, this seems like a leak. :fountain

[2015-06-07 00:45] samccone opened #1333 "Ember DOM node leak"
##### Steps  to reproduce

* start timeline profiler
  * add three todos
  * delete three todos
  * (repeat above 2 more times)
* force GC
* stop timeline profiler

![screen shot 2015-06-06 at 8 44 03 pm](https://cloud.githubusercontent.com/assets/883126/8022123/cd58d0ca-0c8c-11e5-9029-9900cda24c0f.png)
![screen shot 2015-06-06 at 8 43 47 pm](https://cloud.githubusercontent.com/assets/883126/80221

[2015-06-07 00:46] samccone commented on #1333
ping @tomdale  @bantic

[2015-06-07 00:46] samccone commented on #1332
ping @petehunt @chenglou

[2015-06-07 00:50] samccone opened #1334 "Knockout Listener / Dom Leaks"
##### Steps  to reproduce

* start timeline profiler
  * add three todos
  * delete three todos
  * (repeat above 2 more times)
* force GC
* stop timeline profiler

![screen shot 2015-06-06 at 8 49 38 pm](https://cloud.githubusercontent.com/assets/883126/8022149/93cc8e9a-0c8d-11e5-816f-5c4ea54d0538.png)

![screen shot 2015-06-06 at 8 48 55 pm](https://cloud.githubusercontent.com/assets/883126/8022

[2015-06-07 00:51] samccone commented on #1334
ping @mikaelkaron @passy

[2015-06-07 00:58] samccone opened #1335 "Angularjs Node Leaks"
##### Steps  to reproduce

* start timeline profiler
  * add three todos
  * delete three todos
  * (repeat above 2 more times)
* force GC
* stop timeline profiler

![screen shot 2015-06-06 at 8 57 17 pm](https://cloud.githubusercontent.com/assets/883126/8022176/b10840c0-0c8e-11e5-92ee-6ea08307d0b0.png)
![screen shot 2015-06-06 at 8 57 12 pm](https://cloud.githubusercontent.com/assets/883126/80221

[2015-06-07 00:58] samccone commented on #1335
ping @IgorMinar

[2015-06-07 11:03] arthurvr commented on #812
@mckamey still interested?

[2015-06-07 11:03] arthurvr commented on #831
ping @abhinavgujjar - interested?

[2015-06-07 12:27] arthurvr commented on #203
Ticked ember, then.

[2015-06-07 21:40] mckamey commented on #812
@arthurvr, yes still interested. I have a newborn at home so life is quite busy.

[2015-06-07 22:34] chenglou commented on #1332
Event listener? Afaik there are only react event listeners in there and they're all released correctly. Maybe it's something else?

[2015-06-08 05:02] arthurvr commented on #812
No worries @mckamey. Congrats!

[2015-06-08 10:19] abhinavgujjar commented on #831
yeah -  will get on it tongight

On Sun, Jun 7, 2015 at 4:34 PM, Arthur Verschaeve <notifications@github.com>
wrote:

[2015-06-08 13:25] samccone commented on #1332
Hi @chenglou thanks for getting back.

One thing that seems suspicious to me is the fact that once I started my test steps an event listener was  bound and then never released even after a forced GC. Is this expected?

[2015-06-13 10:04] arthurvr commented on #1124
Also related: https://github.com/tastejs/todomvc/pull/1316

[2015-06-14 18:40] arthurvr commented on #1069
Regarding ember CLI, I personally think it's out of scope for TodoMVC. Ember CLI isn't about an MV* framework anymore. It's about the build script and developer tooling used for building apps, with a specific framework.

So, I'd personally say we should just update to the latest ember but an Ember CLI app is out of scope. Though, maybe somebody should just kick off an app in a separated repo. What

[2015-06-14 19:16] arthurvr commented on #1209
Hey @DimitarChristoff - Are you still willing to pick this up?

[2015-06-14 19:16] arthurvr commented on #1217
@sindresorhus @addyosmani any status update?

[2015-06-15 05:15] arthurvr commented on #1161
We discussed this and agreed that BigPipe was a little too far away from client-side MV* to be a good fit for TodoMVC. Therefore, it would be difficult to realistically compare it with other frameworks.

Keep up the nice work and thanks for reaching out to us! :dancer:

[2015-06-15 05:15] #1161 closed

[2015-06-15 14:07] NickLydon opened #1341 "React example repeatedly calling render"
In the React example, `React.render` is called every time the model changes. I haven't seen this in other examples so is this usage idiomatic?

[2015-06-15 14:16] samccone commented on #1341
This is not an issue with the implementation (it is actually a core, of react) going to close this as a non issue.

[2015-06-15 14:16] #1341 closed

[2015-06-16 11:29] MunchyYDL opened #1342 "Polymer 1.0"
Hi guys,

I was interested in converting the Polymer example to support the 1.0 release of the library.

Is there a need to keep the 0.5 version as a separate example to show the differences in syntax between the releases? Or do you only want the latest to be present? I couldn't find anything in the guidelines concerning this.

Happy to be able to contribute with this if you want it. :)

[2015-06-16 11:33] arthurvr commented on #1342
Somebody at the Polymer team is working on it so no need to duplicate work. Going to keep the ticket open till that's finished.

Only latest :)

[2015-06-16 16:33] arthurvr commented on #1135
This seems [already fixed](https://github.com/tastejs/todomvc/blob/master/examples/emberjs/index.html#L77).

[2015-06-16 16:33] #1135 closed

[2015-06-17 20:16] samccone opened #1345 "MarionetteJS leaks"
I spoke with @ianmstew, @ahumphreys87, and @paulfalgout about this, we are pretty sure we know the root of the issue, going to try to squash this one.

--------------

##### Steps  to reproduce

* start timeline profiler
  * add three todos
  * delete three todos
  * (repeat above 2 more times)
* force GC
* stop timeline profiler

![screen shot 2015-06-17 at 4 13 58 pm](https://cloud.githubusercon

[2015-06-18 19:43] arthurvr commented on #1180
I just closed another PR for this implementation due to inactivity :( Same things as before, we're still willing to add an example for rivets, if anybody is interested in finishing up #1295.

[2015-06-20 12:36] Huxpro opened #1346 "React Example: Usage of subscribe/inform in TodoModel ?"
I wonder the usage of the `subscribe()` and `inform()` in the `TodoModel.js`

I noticed that `model.subscribe(render)` in `app.jsx`, but the `subscribe()` method push the return of `render()` (a snapshot of DOM description?) into `onChange` array? and `inform()` method traverse `onChange` and invoke the function in the array?

I am really confused here and ask a help, thank you

[2015-06-20 12:41] samccone commented on #1346
This is a react specific question not a todomvc one. Going to close as a none issue.

ping @chenglou

[2015-06-20 12:41] #1346 closed

[2015-06-21 00:19] chenglou commented on #1346
I guess I'll write my answer here for future references.

@Huxpro that was @petehunt's way of showing the "backbone way" of doing things, a long time ago. You're right, it's not really idiomatic React and now that people understand how React works, we could probably switch to keeping the model in the state and call `setState`.

[2015-06-21 00:33] samccone commented on #1346
:+1: @chenglou thanks for the info

[2015-06-21 15:27] andrewcharnley opened #1347 "Igaro App JS Framework Inclusion"
Given Igaro App is at 1.00, if it gets the go ahead I'll make a separate App submission for the todomvc module which is already done and included at;

http://app.igaro.com/showcase/

BTW, some CSS issues are noted on the page (like how do you expect touch users to click the destroy button if you use :hover?).

[2015-06-21 17:14] samccone commented on #1347
Hi @andrewcharnley thanks for bringing this to our attention. At this time it looks like the community around igaro is still quite small. We would love for you to grow this tool and community. When you feel like the library has been battle tested, please reopen this issue or open a PR with the implementation.

Thanks again.

[2015-06-21 17:14] #1347 closed

[2015-06-22 11:54] sindresorhus opened #1348 "Change download link on website to link to master"
As discussed on Hangouts there's no reason for us to limit it to the last published release. I think it makes more sense for us to offer master as everything is moving fast and our releases are far between.

[2015-06-22 11:55] arthurvr commented on #1348
Yep. I'll fix this up.

[2015-06-22 13:48] addyosmani commented on #1348
sgtm

[2015-06-22 13:55] sajrashid opened #1349 "Dojo todomvc not working in ie11"
please see post on so http://stackoverflow.com/questions/30980564/dojo-todomvc-not-working-in-ie11

No errors, Not working for me on ie11, chrome is fine

[2015-06-22 14:19] arthurvr commented on #1349
Yes, I was able to confirm this. Thanks for the report.

[2015-06-22 14:26] #1348 closed

[2015-06-23 11:11] mehatesarty opened #1351 "it's still secret but arthurvr is a faggot"
shhhh :hankey: fagooottttt

[2015-06-23 11:11] #1351 closed

[2015-06-23 18:53] jyguyomarch opened #1352 "Add a README to SAPUI5"
Add a README file for SAPUI5 example as requested in issue #386

[2015-06-23 18:56] arthurvr commented on #1352
Exactly. There's already an open issue for this so I'm going to close this one.

[2015-06-23 18:56] #1352 closed

[2015-06-23 19:12] jyguyomarch commented on #1352
Ok. Thought it was better to have one issue per application requiring a README. So I'll link a pull request to #386 once I have a README ready.

[2015-06-23 19:13] arthurvr commented on #1352
Awesome!

[2015-06-25 00:36] samccone commented on #1333
Just following up with some more research, ember is consistently allocating more DOM node each pass of the above steps (keep in mind I am forcing a GC between each test)

After a bit more digging into the heap it looks like `_RenderBuffer` is doing something questionable

![screen shot 2015-06-24 at 5 34 28 pm](https://cloud.githubusercontent.com/assets/883126/8344502/64cad85a-1a97-11e5-931b-b50f4

[2015-06-25 00:41] samccone opened #1354 "Vue Memory Leaks"
##### Steps  to reproduce
- start timeline profiler
  - add three todos
  - delete three todos
  - (repeat above 2 more times)
- force GC
- stop timeline profiler

---

It looks like there is a DOM Node leak, based on my research it looks like there is something off about what is happening in Directive

![screen shot 2015-06-24 at 5 38 46 pm](https://cloud.githubusercontent.com/assets/883126/83445

[2015-06-25 00:41] samccone commented on #1345
There was a flaw in my process for this test, after warming the initial render of the footer there are no leaks

:tada:

[2015-06-25 00:41] #1345 closed

[2015-06-25 00:43] samccone commented on #1333
cc @rwjblue @stefanpenner @wagenet

[2015-06-25 00:52] samccone commented on #1332
After a new round of profiling @chenglou and warming the initial render state (adding and removing one todo) before starting my tests I am confident that there is a leak in this example.

Note how the heap size increases and I have a whole bunch of new ReactElements between each test:
![screen shot 2015-06-24 at 5 49 19 pm](https://cloud.githubusercontent.com/assets/883126/8344666/84194366-1a99-11

[2015-06-25 02:01] stefanpenner commented on #1333
this appears to be a duplicate of: https://github.com/emberjs/ember.js/issues/11501

[2015-06-25 02:03] yyx990803 commented on #1354
It seems to me it's more likely that the timeline force GC button doesn't always properly recollect DOM Nodes. Two reasons:

1. Similar Node count increase is found for almost all major frameworks you tested with this approach;
2. When comparing memory heap snapshots, no Node leaks were found. Steps:
  1. Create and delete one item (because Vue caches compilation/templates for the item)
  2. Take

[2015-06-25 18:18] samccone commented on #1333
Hey @stefanpenner thanks for getting back to me, it looks like the version of ember we are using is
`ember#1.10.0-beta.3`

Which is an older release.
I was not sure if this leak was an error in the implementation of the todoapp or in ember core, that is why I raised the issue here.

Looking at the issue that you cross posted it seems like the two issues are not directly connected, (by the fact tha

[2015-06-26 23:39] samccone commented on #1354
Hi @yyx990803, thanks for getting back to me.

As to point one, I agree, almost all of the framework implementations do exhibit this behavior! Checkout the Backbone or the Marionette implementations, as they are the only ones I have found so far that do not leak.
The goal of my research is to help TodoMVC implementation authors and framework authors to create tools and libraries that do not leak.

[2015-06-29 22:39] defx opened #1357 "Running The Tests - Unable to find application root, did you start your local server?"
Running The Tests says "You need to run a local server at the root of the TodoMVC project. Start the server using: npm run serve", however the serve script is declared inside package.json in the "tests" folder, not the root folder. If I do **npm run serve** and **npm run test** from /tests, the todomvc site is available at 127.0.0.1:8000, but I get the following;

    Error: Unable to find applica

[2015-06-29 22:43] samccone commented on #1357
go up a directory and run `python -m SimpleHTTPServer` then go into tests and run the suite.

if you find the docs unclear would you mind opening a PR to make this clearer thanks!

[2015-06-29 22:43] #1357 closed

[2015-06-30 08:47] defx commented on #1357
@samccone Thanks for the reply, although this yields the same result.

The server is running fine whether i use `npm run serve` from /tests or `python -m SimpleHTTPServer` from root. The problem appears to be that the test browser isn't opening as expected. I've tried running with firefox and phantom, but neither of those open either, so it would appear that this isn't particular to chrome. I'm ab

[2015-06-30 16:16] andrejlamov opened #1359 "D3.js"
Hi!

Me and a friend have developed a version of the todomvc with D3.js, using its data binding mechanism.

Although not designed to be a pure MVC framework we still choose it to implement web applications since it provides very direct level of control, powerful data-binding and very concise code.

[Our repo](https://github.com/andrejlamov/todomvc-app-template)

[2015-07-01 09:16] defx opened #1361 "Running The Selenium Tests - Browser not opening."
This issue started as #1357 which was prematurely closed, possibly because the question wasn't clear enough.

I am able to run the server without any problems, but I get `Error: Unable to find application root, did you start your local server?`. The problem appears to be that the test browser isn't opening as expected. I've tried running with chrome, firefox and phantom (all with the same result)

[2015-07-01 09:25] arthurvr commented on #1361
Honestly sounds more like an issue with your local setup then with our tests setup.

Please don't create a second issue because you think the first one was "prematurely" closed. If we think it's worth it and you can show us concrete troubles with our setup we will be happy to re-open. Let's take all discussion to that issue.

[2015-07-01 09:25] #1361 closed

[2015-07-01 09:36] defx commented on #1361
@arthurvr I agree that there must be something in my local setup that doesn't play nicely. Considering that I run Selenium tests regularly in various different project configurations without any issues whatsoever, I though perhaps you might be interested to help me figure it out.

[2015-07-01 10:10] defx commented on #1357
@arthurvr I'm bringing discussion back to the original issue as requested, so if you have any suggestions then I would be happy to hear them.

[2015-07-01 10:15] arthurvr commented on #1357
@defx Thanks!

This sounds like an actual issue with your local setup, not really with ours. What version of chrome/node/selenium-webdriver are you on?

[2015-07-01 10:26] defx commented on #1357
@arthurvr

Chrome: 43.0.2357.130 (64-bit)
Node: 0.10.33
Selenium-webdriver: ^2.45.1

tests/package.json is the same as todomvc master.

[2015-07-01 10:29] arthurvr commented on #1357
This doesn't help. I could have read that in `package.json` as well. What version are you actually on?

[2015-07-01 10:32] defx commented on #1357
2.46.1

[2015-07-01 10:35] arthurvr commented on #1357
I can't reproduce on exactly those same versions. We'll be happy to look into it when you can show concrete issues with our setup, for now I just assume this is an issue with your local setup.

[2015-07-01 11:34] spicyj commented on #1332
If you add some todos and remove them before taking the first snapshot, you shouldn't see the listener. This is because React adds a single top-level listener for each event used and some events are not used except by the `<TodoItem />` component. I can't repro the HTML elements you're seeing. I get this:

![image](https://cloud.githubusercontent.com/assets/6820/8453517/ba70fbb4-1ff5-11e5-8924-298

[2015-07-02 12:07] andrelaszlo commented on #1359
:+1:

[2015-07-02 13:26] arthurvr commented on #1204
Close this as we landed an Angular 2 implementation :star:

[2015-07-02 13:26] #1204 closed

[2015-07-02 13:39] samccone commented on #1204
:deciduous_tree:

[2015-07-02 13:42] arthurvr opened #1362 "New 1.4 release"
Lately we discussed doing a new TodoMVC release and agreed to open an issue to discuss what we want to finish. :star2:

This would be my list:
- [ ] https://github.com/tastejs/todomvc/issues/1110 - Finish porting all apps over to the new UI so they're at least all consistent when doing a release. We're almost done, though :smiley:
- [x] https://github.com/tastejs/todomvc/issues/1222 - I feel like

[2015-07-02 13:47] arthurvr commented on #1362
@tastejs/todomvc

[2015-07-02 17:15] passy commented on #1362
That sounds like a reasonable list. Thanks for putting this together, @arthurvr! :star2:

[2015-07-02 17:17] passy commented on #1362
I've updated the milestone for 1.4 with those issues: https://github.com/tastejs/todomvc/milestones/1.4

[2015-07-02 17:17] samccone commented on #1362
I would like to include

* [ ] Integrate automated perf testing via https://github.com/samccone/leaky

[2015-07-02 17:18] arthurvr commented on #1362
@samccone Can you open an individual issue discussing that? I'm totally :+1:, but we only discussed that much in hangouts so worth having it in the open.

[2015-07-02 17:26] addyosmani commented on #1362
Agreed. This is an excellent list. Thanks @arthurvr!

[2015-07-03 08:55] arthurvr commented on #1349
@asudoh may be interested in looking into this?

[2015-07-03 10:18] CrowdHailer commented on #1362
Some review or recommendation feature would be really helpful. Probably best if its not open comments as there are enough places for that already. Would love opinions from a todoMVC maintainer or two next to each one. Obviously thats extra work so maybe another way. I am happy to volunteer my own comments on a few but letting anyone (i.e. me) do that leads quickly to it being a long list of commen

[2015-07-03 10:29] CrowdHailer opened #1364 "Event Sourced vanillajs version"
I have been working on a demo todo project that uses event sourcing with each version getting a unique url.

Added features ontop of the basic todoMVC are the ability to undo any change, visit any historic version by visiting the appropriate url.
It is written without a framework. and also not using the todoMVC templates.

I am thinking about converting to a proper todoMVC project but was wonderin

[2015-07-03 10:41] arthurvr commented on #1359
Hey there! We chatted about this and agreed not to include a new example for this. Sorry!

It's really interesting, but for the time being more of an experiment, not something we'd suggest folks to build real-world apps with. When it matures a little, feel free to ask us to reopen.

Thanks for reaching out! :cake:

[2015-07-03 10:41] #1359 closed

[2015-07-03 12:59] ColinEberhardt commented on #1359
@arthurvr personally I think a D3 implementation makes some sense. When creating visualisations I've often used D3 to render UI controls and perform MVC functionality rather than add another framework.

[2015-07-03 13:03] ColinEberhardt commented on #1359
Having said that, this implementation needs a bit of work!

[2015-07-03 13:25] asudoh commented on #1349
@arthurvr Sure will take a look.

[2015-07-03 20:33] andrejlamov commented on #1359
@ColinEberhardt could you please elaborate on what parts you think needs improvement? I would appreciate any comments or advice you have.

[2015-07-04 02:49] sajrashid commented on #1349
fab, thx guys

[2015-07-07 10:38] #1349 closed

[2015-07-08 01:41] samccone commented on #1332
Hey @spicyj thanks for getting back to me, I agree there is no listener leak that was a mistake on my part. As far as the ReactElement issue, I have codified the process here https://github.com/tastejs/todomvc/pull/1368

and am still seeing a growth over time, let me know if this expected or if I have missed something. Thanks again for your time!

[2015-07-11 12:05] passy commented on #1364
Hey @CrowdHailer, that sounds interesting! Our main focus here is to have a resource that makes it easy to compare different implementations of the same thing. That requires us to be really strict about the feature set an example must have - and what it must not have. So I'm afraid your implementation wouldn't be eligible for inclusion, but please feel free to add your demo to the example. It's st

[2015-07-11 12:05] #1364 closed

[2015-07-11 20:36] qqbbgm opened #1373 "Does Todomvc benefit one framework over the other?"
Just some random thoughts

-

todomvc is the defacto tool everybody decides what framework to use. I think it's too opinionated and benefits some choices over the others.

I think that because @samccone is a member of the marionette team, @addyosmani wrote a backbone book and is building polymer and dart, @passy works on twitter (flightjs), @sindresorhus on Aura.js, ...

framework war is big busin

[2015-07-11 20:48] arthurvr commented on #1373
The fact that we all have a *personal* opinion is unavoidable. Everybody has one. :wink:

Though I agree TodoMVC should be neutral, I think it is. TodoMVC is just a curation of example apps. We don't promote/benefit any of the frameworks.  It would actually be difficult to do so. How can you promote one framework over the other using an example app only? We don't state our opinion on the framework

[2015-07-11 20:48] #1373 closed

[2015-07-11 20:51] qqbbgm commented on #1373
Okay Arthur. I'm glad you responded instead of somebody that actually works on a framework. Thanks for the answer.

So if I understand correctly the only one that seriously works on a framework is @addyosmani, which is your development lead. Kinda not neutral?

[2015-07-11 20:55] arthurvr commented on #1373
We're not benefiting Polymer (and any other framework!) in any way. We don't even have a Polymer 1.0 example :p

[2015-07-11 20:56] qqbbgm commented on #1373
I can't find Addy in the commit log except in https://github.com/tastejs/todomvc/commit/5eac92fe2d5f86a6c48f9e2c35c25799a500bc45. So you have a neutral team lead but he's only active in one example....

anyways I'll stop the discussion. I understand that there's a bunch of money involved in this and that you can't really respond honest.

[2015-07-11 21:03] qqbbgm opened #1374 "Team diversity"
The whole team exists of white, straight, plus-minus same age, male, western people. Not the way to go.

[2015-07-11 21:15] passy commented on #1373
+1 to everything Arthur has said. Everyone has their own preference, but my employer has absolutely no influence on that whatsoever. For example, I don't use Flight for any of my personal projects.

[2015-07-11 21:17] passy commented on #1374
I totally agree. The core team is simply a representation of the people we get the most contributions from. The problem here is not how we choose our team members, but that we don't attract a diverse enough set of people to contribute to the project. If anyone has ideas how we can improve this or hints on what we've been doing wrong so far, I'd much appreciate that.

[2015-07-11 21:40] addyosmani commented on #1374
I genuinely want to see more women and folks from diverse backgrounds contributing to the project. We need more of them in the industry as a whole and I've seen nothing but positive input and innovation from these groups in other projects. They are part of the heart and soul that is OSS and are always, always welcome to TodoMVC and any of the projects this group of folks are involved in.

That sai

[2015-07-11 21:40] #1374 closed

[2015-07-12 10:13] arthurvr commented on #1180
I'm going to close this. A PR is still welcome but if nobody's interested in finishing one we're not going to add an example :wink:.

[2015-07-12 10:13] #1180 closed

[2015-07-13 01:11] samccone commented on #1259
Do we have any bugtracker link for this upstream in firefox?

[2015-07-13 17:32] samdoiron opened #1376 "Unclear specification has caused (potentially unfair) implementation differences."
The specification does not say if a TODO should be added to the list on key UP or key DOWN.

While this might seem minor, those implementations which respond on keydown _seem_ much faster during typical usage.

Examples:
Keydown: Angular 1, Polymer, React
Keyup: Mithril, Angular 2, Ember

[2015-07-13 17:37] samccone commented on #1376
You are correct, we assume on keypress, however the implementation details thus far have been left up to the implementer.

We currently test this spec via:

https://github.com/tastejs/todomvc/blob/master/tests/page.js#L235-L239
<img width="456" alt="screen shot 2015-07-13 at 1 34 46 pm" src="https://cloud.githubusercontent.com/assets/883126/8656165/f693cc1c-2963-11e5-92e5-c74b0706dd5f.png">

Which

[2015-07-13 18:04] samccone commented on #378
I think this should be able to be closed right @arthurvr

[2015-07-13 20:53] #830 closed

[2015-07-13 20:55] arthurvr commented on #830
Fixed. Thanks @ColinEberhardt!

[2015-07-13 21:52] #1260 closed

[2015-07-14 14:27] samccone opened #1378 "clear completed button test has flake"
https://github.com/tastejs/todomvc/blob/a034b0d7aff2119e797f738cedba765578d1beaf/tests/page.js#L228-L233
<img width="689" alt="screen shot 2015-07-14 at 9 26 18 am" src="https://cloud.githubusercontent.com/assets/883126/8675586/7305d47e-2a0a-11e5-9859-cc86f9fd109d.png">

https://travis-ci.org/tastejs/todomvc/builds/70852831

should be simple enough to fix

[2015-07-14 21:05] ken107 opened #1379 "Introducing Kenna-JS"
Hello there,

This is a framework I have been working on for some time.  It's thin, simple, low-learning curve, but very flexible and can be used to build any complex application.  It does not handle routing.  Here are some links for you to checkout:

Basic TodoList with custom directives:
http://kenna-js.com

Basic TodoList:
http://cdn.rawgit.com/ken107/kenna-js/master/examples/todolist/todo.html

[2015-07-15 18:53] qqqqqqqqqqqqqqqqqqqqqqqqqqqqq opened #1381 "Arthur is a fag"
fap fap faggot

[2015-07-15 19:11] arthurvr commented on #1234
@dprotti @ColinEberhardt Anyone of you interested in fixing the GWT app?

[2015-07-15 20:39] arthurvr commented on #1179
Good question. I agree, this makes sense and should be documented in the readme.

@tastejs/todomvc Who has access to this?

[2015-07-16 12:46] robbbz commented on #1379
:-1:

[2015-07-16 13:05] dprotti commented on #1234
Yes, I can work on it next weekend.

[2015-07-16 13:34] arthurvr commented on #1234
Thanks @dprotti. Appreciate it :)

[2015-07-16 14:07] arthurvr commented on #1234
@marchant Are you interested in taking care of this for the montage app? Preferably after the other PR landed.

[2015-07-18 14:00] arthurvr commented on #1342
@addyosmani We wanted this in 1.4 so maybe you can give us a quick status update? If the team can't work on it we can still do it in-house. Thanks :wink:

[2015-07-24 09:01] arthurvr commented on #1379
Hey @ken107. Thanks for reaching out!

We discussed this and decided that we're not going to include a new example for now. We first want to see its community grow and develop, and want to reconsider it then. When you feel like it reached that point, feel free to ask us to reopen this. :dancer:

[2015-07-24 09:01] #1379 closed

[2015-07-24 17:59] ken107 commented on #1379
OK, no problem.

Thank you, Arthur.

On Fri, Jul 24, 2015 at 2:02 AM, Arthur Verschaeve <notifications@github.com

[2015-07-24 21:32] arthurvr commented on #1227
Hey! We briefly discussed this and decided that it's not worth it to include a new example for this. We already have some Angular examples (6!) and a Meteor example,  and wanted to keep off from including many other composite examples.

Thanks for reaching out and thanks for the suggestion. Oh, also sorry for having it take so long to get back at you.

[2015-07-24 21:32] #1227 closed

[2015-07-24 21:37] arthurvr commented on #975
I'm going to close this as we never really got answers for those questions. We can consider reopening when we have the info we need :)

[2015-07-24 21:37] #975 closed

[2015-07-25 05:05] augbog opened #1387 "blog.tastejs.com redirects to ghost.org"
Is the blog supposed to redirect to ghost.org homepage? Feel free to close if this is not an issue.

[2015-07-25 09:56] arthurvr commented on #1387
We're aware. Sorry :cry:

Closing as a dupe of https://github.com/tastejs/todomvc/issues/1217.

[2015-07-25 09:56] #1387 closed

[2015-07-25 13:55] arthurvr commented on #954
Hey! Thanks for reaching out and sorry for the delayed response.

We had a brief chat about this and our conclusion was the the framework and its community aren't yet mature enough to include a new example for it. We'd like to see some more usage of it in the wild and see its community mature, when you feel like it reached that point, ping us and we'll reconsider :dancer:

[2015-07-25 13:55] #954 closed

[2015-07-25 13:58] arthurvr commented on #1063
Whoops. Sorry :)

[2015-07-25 13:59] arthurvr commented on #1063
There has been quite a bit of noise around the new framework they're developing: https://github.com/Famous/framework. Although I do not know if its community is yet mature enough for us to include a new example written with it.

[2015-07-25 15:25] samccone commented on #1063
ping @TheAlphaNerd

[2015-07-25 16:57] arthurvr commented on #1376
:+1:

[2015-07-25 20:58] TheAlphaNerd commented on #1063
So I think it is quite pre mature to do anything with Framework. That being said our engine went through a major overhaul since the propertycross example, so much so that their example uses an entirely deprecated API.

I don't know if we would want to focus internal resources on implementing this at the current time, but we would definitely code review and offer a canonical opinion on anything sub

[2015-07-29 18:05] robbbz opened #1391 "Angular 2 example misses routing"
Which is in the app spec as a requirement.

[2015-07-29 18:28] samccone commented on #1391
Yep, when we implemented it initially angular2 did not expose routing in the dist version, they now do which means this just needs to be implemented.

[2015-07-30 13:15] robbbz commented on #1391
Okay, thanks for the answer. I think it makes sense to implement routing now or do you want to wait till the angular1 example gets replaced by the angular 2 one? And how quick do you see that happening or do you want the angular 1 example to stick around for a while?

[2015-08-01 00:06] agraebe opened #1393 "SAPUI still in Labs"
Hi guys,

just curiuos why SAPUI5 is still categorized as Labs?

And BTW, I think it should be named OpenUI5 (openui5.org) - that would be more accurate.

[2015-08-01 09:18] robbbz opened #1394 "Update elm example to latest elm"
It's at 0.14, but 0.15 is already in stable.

[2015-08-03 06:13] garious opened #1395 "Poochie"
Request for comments: https://github.com/garious/poochie-todomvc

Anything interesting to anyone here? The goal of the microframework is to allow for 100% line and branch coverage as the app is incrementally developed. It's also quite lightweight. Browserfied gzipped version is under 5k - includes both the library [poochie](https://github.com/garious/poochie) and the TodoMVC implementation.

My fa

[2015-08-04 19:58] garious commented on #1395
First impressions?

[2015-08-08 08:52] robbbz opened #1398 "GWT example uses old version of GWT"

[2015-08-09 22:33] maurocastagnetti opened #1402 "TypeScript + Backbone: TypeError on Windows 10 (Chrome, Firefox, Edge, IE 11)"
In the previous week i have installed windows 10, the typescript+backbone version do not work anymore,
if you try to create a new item and then press the return  key the javascript console show the following error:
"app.js:105 Uncaught TypeError: Cannot read property 'get' of undefined".

Below the corresponding piece of code
...
// We keep the Todos in sequential order, despite being saved by uno

[2015-08-10 16:42] garious commented on #1395
Ping

[2015-08-10 17:03] samccone commented on #1395
hey @garious this framework does seem quite interesting, especially given the declarative nature of the kickoff script, thanks for opening this issue!

One of the goals of todomvc is to provide people with a site to explore different frameworks that they could use to build an application. We typically like to limit the frameworks that we add to those that have been "battle tested" or have been use

[2015-08-10 17:03] #1395 closed

[2015-08-10 17:05] samccone commented on #1398
@robbbz any interest in fixing this

[2015-08-10 17:06] samccone commented on #1394
@robbbz any interest in fixing :)

[2015-08-10 17:08] samccone commented on #1393
hi @agraebe , I think there two steps

* [ ] fix all dead links in https://github.com/tastejs/todomvc/blob/2de650d1e28f9b28d62d8378c2dffe165b58a07a/examples/sapui5/readme.md
* [ ] update to latest version

I agree that it seems like SAPUI is still pretty popular and is still in active dev and use, so I see no reason why we can not move it out of labs after these todos are resolved

[2015-08-10 17:09] samccone commented on #1376
going to close, @samdoiron let us know if you have any further thoughts :cloud: , thanks for opening the issue

[2015-08-10 17:09] #1376 closed

[2015-08-10 17:28] garious commented on #1395
Hi @samccone, thanks for the feedback. If you or anyone feels that this framework is very similar to some existing framework, please let me know. I'm wondering if [poochie](https://github.com/garious/poochie) contains an innovative design decision. The framework encourages declaring *static* elements with dynamic attributes *and dynamic contents*. I believe this decision alleviates the need for DO

[2015-08-11 21:11] rulotr opened #1405 "Problem with cancel"
In todomvc with react, when i edit, and after pressing esc to cancel, and click in a row  the new value returns.

It can solved it

	handleChange: function (event) {
			 	if(this.props.editing){
					this.setState({editText: event.target.value});
			 	}
		}

[2015-08-11 21:13] samccone commented on #1405
not sure I follow, or can reproduce, @rulotr can you post a gif or screenshots?

[2015-08-11 21:14] samccone commented on #1402
@maurocastagnetti any interest in investigating / fixing?

[2015-08-11 21:29] rulotr commented on #1405
![todomvc](https://cloud.githubusercontent.com/assets/13245511/9211189/134b17b8-4046-11e5-8af2-b852c359e8ea.gif)

[2015-08-11 21:31] samccone commented on #1405
wow, totally not able to reproduce in chrome on osx...

[2015-08-11 21:33] rulotr commented on #1405
in chrome its ok, it´s only in firefox.

[2015-08-11 21:35] samccone commented on #1405
great catch @rulotr ... so that brings up the question of why only in firefox?

[2015-08-11 21:48] rulotr commented on #1405
when i cancel: in firefox call handleKeyDown -> handleChange -> handleSubmit
and firefox call  handleKeyDown -> handleSubmit

[2015-08-11 21:49] rulotr commented on #1405
sorry and chrome call handleKeyDown -> handleSubmit

[2015-08-12 13:23] passy commented on #1402
Couldn't reproduce with Edge. It isn't particularly pretty, but functional.

![screenshot 2015-08-12 14 22 39](https://cloud.githubusercontent.com/assets/9906/9224879/a726905e-40fd-11e5-99f6-2364d7905358.png)

[2015-08-12 13:25] samccone commented on #1402
hahaha those checkmarks are on point

[2015-08-12 13:27] passy commented on #1402
The top one is like

![you-cant-handle-my-fabulousness-1362095093](https://cloud.githubusercontent.com/assets/9906/9224964/45465da0-40fe-11e5-80ea-f6809215c7c5.jpg)

[2015-08-12 13:35] samccone opened #1408 "✅ Change checkbox approach on todos"
Currently we are using a pseudo element on the checkbox elements however, Firefox, and IE edge both have some serious trouble rendering this. :crying_cat_face:

![](https://cloud.githubusercontent.com/assets/9906/9224879/a726905e-40fd-11e5-99f6-2364d7905358.png)

<img width="742" alt="screen shot 2015-08-12 at 9 34 05 am" src="https://cloud.githubusercontent.com/assets/883126/9225107/4d573a42-40d5

[2015-08-12 13:36] samccone commented on #1402
alright going to close this one, unless someone else can reproduce and then we can reopen.

[2015-08-12 13:36] #1402 closed

[2015-08-12 21:15] brian-mann opened #1409 "duplicate tests"
https://github.com/tastejs/todomvc/blob/master/tests/test.js#L195

and

https://github.com/tastejs/todomvc/blob/master/tests/test.js#L214

are the same test

[2015-08-12 21:15] samccone commented on #1409
:white_check_mark: thanks @brian-mann

[2015-08-12 21:17] brian-mann opened #1410 "beforeEach hook"
All tests in this suite: https://github.com/tastejs/todomvc/blob/master/tests/test.js#L205

go through the `createStandardItems` function, so this can be moved to a `beforeEach` hook.

[2015-08-12 21:18] samccone commented on #1410
good spot @brian-mann :eyes: :aerial_tramway:

[2015-08-13 22:22] jspdown opened #1411 "Ember example uses a deprecated context-switching"
Hi,

I noticed that `index.html` file in the Ember example use a deprecated `{#each}`( [#L17-L27](https://github.com/tastejs/todomvc/blob/de6a0729d8c6f953e2a52d7c7669b87082f0b787/examples/emberjs/index.html#L17-L27)).

As mentioned in [the deprecations section of the documentation](http://emberjs.com/deprecations/v1.x/#toc_transition-plan), it should be replaced by something like that:

[code]

[2015-08-13 22:26] samccone commented on #1411
We have a pending new version of the ember app here
https://github.com/tastejs/todomvc/pull/1360

:)

[2015-08-13 22:26] #1411 closed

[2015-08-14 06:48] patrickkettner commented on #1408
PRd a fix upstream - not sure how it would work getting it here since upstream has converted ids to classes. Happy to help get it landed, if desired, though

[2015-08-14 22:06] agraebe commented on #1393
Awesome, I just did it. Major change was also the name: It's officially now called OpenUI5. I submitted a pull request!

[2015-08-17 12:27] timoc opened #1415 "Bootstrap?"
What about adding Bootstrap?
http://getbootstrap.com/

[2015-08-17 12:57] passy commented on #1415
How do you mean?

On Mon, Aug 17, 2015, 13:27 Tim <notifications@github.com> wrote:

[2015-08-17 13:46] addyosmani commented on #1415
Bootstrap is a UI library rather than a framework or library for application architecture. As such adding a Todo app using it would offer minimal value to our end users.

[2015-08-17 13:48] samccone commented on #1415
:+1:

Going to close for now but we can continue the discussion if you have thoughts otherwise.
Thanks @timoc for raising this :sparkles: !

[2015-08-17 13:48] #1415 closed

[2015-08-18 07:19] timoc commented on #1415
Hi,

Maybe i'm missing something, because I've seen alot of application templates using HTML5 and Bootstrap, and presumed bootstrap was an MVC based toolkit. Would this mean that all of these templates have written their own framework on top of bootstrap?

[2015-08-18 09:02] passy commented on #1415
@timoc Either that or they've used an MVC framework in combination with Bootstrap.

[2015-08-18 10:12] Widdershin opened #1416 "Cycle.js Example"
Gidday,

I'm interested in writing a new example app in [Cycle.js](http://cycle.js.org/).

Cycle.js is a fully reactive framework, built around Rx.js observables.

I haven't begun work yet, but as per the contribution guidelines I've opened this issue to see if y'all would be willing to accept a spec compliant Cycle.js example.

Thanks!

[2015-08-20 04:48] Widdershin commented on #1416
I noticed today that there is [already a Cycle TodoMVC app](https://github.com/cyclejs/todomvc-cycle) in development. I'll close this issue and contribute to that.

[2015-08-20 04:48] #1416 closed

[2015-08-21 08:31] robbbz commented on #1394
No, not really. Sorry. Just digging into the elm thing.

[2015-08-21 17:53] sindresorhus opened #1418 "GWT - Update checkbox and delete button"
We landed the new UI in #1130, but some things were missing, like the new checkbox and delete button.

// @stephenplusplus @arthurvr

[2015-08-21 19:05] sindresorhus commented on #1391
Angular 1 is going to stick around for a long time, so we'll have them both in the forseeable future.

[2015-08-21 19:18] sindresorhus commented on #1354
What's the next step for resolving this ticket?

[2015-08-21 19:19] sindresorhus commented on #1342
ping @addyosmani

[2015-08-21 19:21] sindresorhus commented on #1335
@btford Do you know anyone on the Angular team able to look at this?

[2015-08-21 19:24] sindresorhus commented on #1234
So close to finishing this.

[2015-08-21 19:25] samccone commented on #1342
I can do this @addyosmani

[2015-08-21 19:26] arthurvr commented on #1234
ping @dprotti, are you still interested? That would be super great.

[2015-08-21 19:27] sindresorhus commented on #1217
From earlier email to @addyosmani:

This is needed since medium.com doesn't yet support custom domains.

[2015-08-21 19:28] btford commented on #1335
Idk if this definitively proves a memory leak. @samccone – if you repeat these steps, does memory continue (unbounded) to grow?

What version of Angular do you see this? And do you see this behavior in browsers besides Chrome?

It's probably good to cross-file this on angular/angular.js, but I'll ping the team and see if anyone can take a look.

Thanks!

[2015-08-21 19:37] samccone commented on #1335
Hey @btford Let me update these numbers with the most recent results 👍

[2015-08-22 17:03] dprotti commented on #1234
Created PR #1419

[2015-08-22 17:05] arthurvr commented on #1234
Awesome, thanks.

[2015-08-22 17:26] arthurvr commented on #1110
Whoops.

[2015-08-22 17:28] arthurvr commented on #1393
Also:

* [ ] https://github.com/tastejs/todomvc/issues/1110

Besides from that, we never had a super active maintainer of the app so I'd prefer to keep it in labs for now. Cool that you're on it now, though!

[2015-08-22 17:51] marchant commented on #1234
Yes, we'll do, we're wrapping up a couple of issues we found in Firefox and will do another PR for this

[2015-08-22 17:52] arthurvr commented on #1234
@marchant Thanks. A PR for this would be super cool.

[2015-08-22 18:05] #1410 closed

[2015-08-22 18:10] #1409 closed

[2015-08-22 18:12] arthurvr commented on #1259
Isn't this a dupe of https://github.com/tastejs/todomvc/issues/1408?

[2015-08-22 18:14] arthurvr commented on #1408
Happy to change it, but I think it's better if we wait to do it though. There are some other big updates (new UI, npm, classes, clear completed button) and I'm worried that it will get messy and difficult (both for us but also for contributors)

[2015-08-22 18:15] patrickkettner commented on #1408
I'm fine with whatever, but I am not clear how meeting this makes anything
messy

On Sat, Aug 22, 2015, 2:14 PM Arthur Verschaeve <notifications@github.com>
wrote:

[2015-08-22 18:16] arthurvr commented on #1398
Maybe @dprotti is interested in helping us fix this? :)

[2015-08-22 18:18] arthurvr commented on #1408
Basically it might become difficult to keep track of what examples still need the update and what versions different examples should use. Getting people to update their apps always takes quite a while. Some aren't even on the new UI yet.

[2015-08-22 18:19] arthurvr commented on #1015
@ColinEberhardt Was you ever able to work on this?

[2015-08-22 18:19] arthurvr commented on #1391
SGTM.

[2015-08-22 18:22] patrickkettner commented on #1408
update

So par for the course?

Isn't the point of it being a module to allow for people to update to it
when they would like to without having to block on updates to the module
itself?

Or is it that its likely that the apps will be forking the CSS file or
something?

On Sat, Aug 22, 2015, 2:18 PM Arthur Verschaeve <notifications@github.com>
wrote:

[2015-08-22 18:28] arthurvr commented on #1408
Yes, and we should totally update the module. Just saying that I think it will be quite a long time till we get all examples to actually upgrade.

[2015-08-22 18:31] patrickkettner commented on #1408
Totally understand and empathise that. What I am having a disconnect with
is why that is a reason to not include a big fix that doesn't require them
to change anything that wouldn't already be required with the modules
current state. There are no markup changes required to support it.

On Sat, Aug 22, 2015, 2:29 PM Arthur Verschaeve <notifications@github.com>
wrote:

[2015-08-22 18:33] arthurvr commented on #1408
Ah, whoops, sorry. I thought the `toggle-all` class was new, sorry. Then totally :+1: :) Sorry for the noise. Thanks for the fix, @patrickkettner!

[2015-08-22 18:56] samccone commented on #1259
they will all be closed very soon once we land the fix from @patrickkettner

[2015-08-22 21:42] passy opened #1421 "Knockout: Persistence Delay"
*I hope this isn't a duplicate.*

If you refresh the page quickly after making a change in the Knockout example, the changes are lost. I haven't looked at the code, but it seems like the data is persisted at intervals or something. This is causing CI to (rightfully) fail: https://travis-ci.org/tastejs/todomvc/builds/74123443

[2015-08-22 22:03] arthurvr commented on #1421
I am able to confirm this, thanks for the report @passy. Note that this is also present in the requirejs+knockout example.

[2015-08-23 00:23] samccone commented on #1421
:+1: good catch @passy

[2015-08-23 04:06] patrickkettner commented on #1408
![image](https://cloud.githubusercontent.com/assets/465414/9426878/c1fd1382-492a-11e5-923e-878efb296144.png)

[2015-08-23 07:59] paulirish commented on #1354
This is my read on the above scenario (no guarantees its right)

GC only kicks in when it has to.  Even if there are things it *could* clean it, it may not yet.. (This is starting to change as we're taking memory pressure heuristics and applying them around)

Anyhow, i imagine the node count was dropping below original count because GC just hadnt taken a swipe at the detached DOM nodes yet.

Relat

[2015-08-23 11:11] sindresorhus commented on #1209
I think we should just remove it. No response from author and the framework itself was last updated Oct 10, 2014.

[2015-08-23 11:12] sindresorhus commented on #1200
Ping @passy

[2015-08-23 11:13] sindresorhus commented on #1200
@podefr Just comment your recommendation. No need to ask for permisison to suggest something ;)

[2015-08-23 11:35] arthurvr commented on #1209
Yep, sgtm.
On zo 23 aug. 2015 at 13:12 Sindre Sorhus <notifications@github.com> wrote:

[2015-08-24 18:09] samccone commented on #1209
:+1:

[2015-08-24 18:09] #1209 closed

[2015-08-24 18:37] arthurvr commented on #1394
Maybe @passy is interested?

[2015-08-24 19:02] #1418 closed

[2015-08-24 19:03] arthurvr commented on #1418
Yay, done. Dunno why I couldn't figure that out back then :p

[2015-08-24 20:02] passy commented on #1394
I am indeed! We can assign this to me but I won't be able to jump right onto it.

[2015-08-24 20:07] arthurvr commented on #1217
@sindresorhus Sounds good to me. Who can set that up for us? @addyosmani I guess?

[2015-08-24 20:09] arthurvr commented on #1394
There's no hurry! Thanks passy.

[2015-08-24 20:17] sindresorhus commented on #1217
Yes

[2015-08-24 20:24] DimitarChristoff commented on #1209
sorry there is no sense in maintaining it as MooTools scene has died out
completely. remove it pls.

On Monday, August 24, 2015, Sam Saccone <notifications@github.com> wrote:

--
Dimitar Christoff

"JavaScript is to JAVA what hamster is to ham"
@D_mitar - https://github.com/DimitarChristoff

[2015-08-24 20:52] arthurvr commented on #831
ping @abhinavgujjar - still interested?

[2015-08-24 23:15] addyosmani commented on #1217
I've setup the subdomain redirect rules in gandi.net and this should be live before long at blog.tastejs.com (currently does the roon direct to ghost).

[2015-08-25 00:33] samccone commented on #1217
thanks @addyosmani !!!!!!!!

[2015-08-25 14:00] arthurvr commented on #1405
Hm, this is a strange one. I'm able to reproduce this in Firefox 40 and 39, but not in 38, which makes me think it's a Firefox bug.

[2015-08-25 14:11] arthurvr commented on #203
I never noticed it back then, but since when I ticked the ember app and removed the dropped apps, this can be closed :) Yay!

[2015-08-25 14:11] #203 closed

[2015-08-25 14:16] #378 closed

[2015-08-25 14:21] arthurvr commented on #593
@nateps @absoludity Anyone willing to fix this?

Although, honestly, I think this is one of the examples that deserves (temporarily) being dropped. We haven't had an active maintainer in years, it's getting outdated, [and the app is down for over 2 years](https://github.com/tastejs/todomvc/issues/546). We already [removed](https://github.com/tastejs/todomvc/commit/7f59ef71a0b55fe70cc8a8c95a3d374a1

[2015-08-25 14:23] sindresorhus commented on #203
🎉🎉🎉

[2015-08-25 14:24] arthurvr commented on #359
I don't really think that's needed, tbh.

[2015-08-25 14:29] arthurvr commented on #815
Yeah, it works fine now.

[2015-08-25 14:29] #815 closed

[2015-08-25 14:31] arthurvr commented on #546
This has been broken for so long (together with the example being really outdated and unmaintained), time to (temporarily) drop this app?

[2015-08-25 14:44] arthurvr commented on #789
Pinging in the app authors and frequent contributors to see if we can push this issue forward. @eastridge @mkuklis @margaritis @loicknuchel @creynders @mckamey @brian428 @jnicklas Can y'all take a look?

[2015-08-25 16:11] passy commented on #1200
Sorry for the very late reply, but yes if we can improve the load time by switching to MDL or something entirely different, then I'm all :+1: for it!

[2015-08-25 17:59] sindresorhus commented on #546
:+1: The maintainers of Derby doesn't seem to care.

// @ishbu

[2015-08-25 18:03] arthurvr commented on #546
@sindresorhus Yeah, and besides from that: https://github.com/tastejs/todomvc/issues/593#issuecomment-134602313. @tastejs/owners Everybody alright with dropping?

[2015-08-25 18:30] samccone commented on #546
👍 to drop ⚡️

[2015-08-25 18:57] #546 closed

[2015-08-25 18:57] #593 closed

[2015-08-25 18:57] arthurvr commented on #546
Done :ballot_box_with_check:

[2015-08-25 18:59] bnoguchi commented on #546
@arthurvr This seems reasonable to drop. I'm no longer working on Derby, but it continues to actively be developed and used in production.

[2015-08-25 20:00] samccone commented on #546
@bnoguchi know anyone that would be interested in maintaining the todo example?

[2015-08-25 21:01] arthurvr commented on #957
@fmay @Dignifiedquire @MaximKraev @pshalagin @ijobling Broken again? Or is our link outdated?

[2015-08-25 23:45] absoludity commented on #593
Totally fine to close from my pov. I've not worked on (or used) derby for a couple of years, and I'm not in a position time-wise to be able to maintain the demo. Someone from the derbyjs community can resurrect it when that someone exists :) Thanks @arthurvr

[2015-08-26 11:02] arthurvr commented on #831
Given https://groups.google.com/forum/?fromgroups#!topic/durandaljs/_1MTnSZiuGU, shouldn't this app be deprecated in favor of the Aurelia one?

[2015-08-26 12:15] samccone commented on #1257
Pretty sure my pr resolved this @arthurvr 😎

[2015-08-28 20:31] arthurvr commented on #812
ping @mckamey

[2015-08-30 07:55] mckamey commented on #789
Sending a PR shortly.

[2015-08-30 08:13] mckamey commented on #812
Had to update the DUEL example to use latest template first which involved reorienting myself with all of this. Thinking I'll use the suggested [Flatiron Director](https://github.com/flatiron/director) to assist with routing.

[2015-08-31 14:56] pbassut opened #1428 "Is cloud9 down or todomvc workspace is not available anymore?"
I'm getting a 404 error when trying to edit the code using cloud9.
Is it down or the workspace is not available anymore?

[2015-08-31 15:19] samccone commented on #1428
+1 to reconsider the value of these

[2015-08-31 15:25] addyosmani commented on #1428
:+1: Let's reconsider. I'm not particularly tied to them being in there. The idea was to originally let people view/edit sources quickly if they wanted to tinker around with our implementations. TBH I don't think that many do. Perhaps PR the removal and if no one says anything after a week we nix them?

[2015-08-31 15:27] arthurvr commented on #1428
Yep, sgtm. Doing now.

[2015-08-31 15:33] pbassut commented on #1428
I was just going to quickly view the code in a more ide-like environment to download right after. But I prefer to have to code on my computer. So I think it does add much.

[2015-08-31 15:36] pbassut commented on #1428
Not ready to close yet? It has been discussed, right?

[2015-08-31 15:37] arthurvr commented on #1428
@pbassut Discussed, but it isn't fixed yet ;)

[2015-08-31 15:50] #957 closed

[2015-08-31 15:50] #1428 closed

[2015-09-04 17:59] robbbz opened #1432 "Split todomvc up in different repos?"
Just a suggestion, some advantages:

* Easier to maintain
* Easier to use a `master` branch for source and `gh-pages` for live version (for apps that need compilation steps)
* Easier for people to clone and experience with one app
* Easier for people to explore apps
* Easier issue tracking
* ...

[2015-09-08 10:39] koppor opened #1433 "New application property: Show TODO properties"
The todomvc app shows important aspects of frameworks. I miss, however, an important property: The property window. If I click on a TODO, I'd like to see it in a properties view (possibly a column on the right side). At this properties view, I can edit the TODO's text. Such an additional functionality would show how two-way databinding works in the different frameworks.

[2015-09-12 03:09] benmccormick opened #1436 "Marionette example uses deprecated features"
The Backbone.Marionette example is currently making heavy use of modules, as well as using the wreqr application channel.  Both of these features have been deprecated by the Marionette team.

The recommended replacement for modules is to use a module loader (webpack + es6 seems to be popular with the Mn community, but could also be RequireJS/CommonJS etc).  For the app channel, the recommendation

[2015-09-12 03:14] samccone commented on #1436
@benmccormick pure JS (es5) without a compile step would be ideal at this point in time.

One of the goals of todomvc is to really keep things stripped down for the example so that anyone can read the source and understand it (not split up everything into 100 files and have a build phase).

While I am with you, commonjs or es6 modules or webpack are great ways to structure a real "application".. t

[2015-09-14 16:14] #1436 closed

[2015-09-18 04:59] arthurvr commented on #1234
ping @marchant

[2015-09-18 09:09] mtkocak opened #1440 "Haxe implementation"
Source: https://github.com/mtkocak/haxe-todomvc
Demo: http://mtkocak.github.io/haxe-todomvc/

[2015-09-18 16:06] samccone commented on #1440
Hey @mtkocak would you mind opening up a PR with the implementation. I think it will ease the review process quite a bit. Thanks!

[2015-09-20 21:19] srikanthegdee opened #1443 "Mithril Todo query!"

[2015-09-20 22:50] #1443 closed

[2015-09-23 04:26] kasperpeulen commented on #1391
I created a angular 2 dart version with routing here:
https://github.com/ng2-dart-samples/todomvc

[2015-09-23 09:42] kasperpeulen opened #1446 "angular2 dart example"
Would you  guys appreciate an Angular2 Dart example ?

If so, I could make a PR from this one:
https://github.com/ng2-dart-samples/todomvc

[2015-09-24 15:28] ChuckIrvine opened #1447 "Basic instructions?"
I am very new to Ember and would like to use your Ember todo example. Are there some basic instructions somewhere on how to start using your examples to learn the various frameworks - Ember in my case? Thanks

[2015-09-24 15:30] samccone commented on #1447
Hi @ChuckIrvine please refer to the ember readme file here :)

https://github.com/tastejs/todomvc/tree/master/examples/emberjs

Best of luck learning!

[2015-09-24 15:30] #1447 closed

[2015-10-01 00:01] ToddThomson opened #1452 "Angular + Typescript"
The sample using Angular 1.4.7 and Typescript 1.6.2 does not properly list the todo items when the list is shown with the ALL filter selected.

[2015-10-01 00:07] samccone commented on #1452
It seems to be working for me,

![screen shot 2015-09-30 at 5 06 37 pm](https://cloud.githubusercontent.com/assets/883126/10209913/a46b6434-6795-11e5-8819-2afc701a22ed.png)

@ToddThomson mind listing the steps to reproduce the bug? thanks!!

[2015-10-01 05:28] arthurvr commented on #1432
Thanks for your suggestion, we discussed with the team. Although there are some advantages indeed, it would make our CI, deployment, hosting and release process way more complicated. Also, there wouldn't be a place where we can easily review new apps. I'm going to close this for now.

[2015-10-01 05:28] #1432 closed

[2015-10-01 05:32] arthurvr commented on #1446
Would you like to add a new example for this or would you like to update our current `angular-dart` example?

[2015-10-01 14:10] ToddThomson commented on #1452
@samccone Yes, running the typescript-angular example from the todomvc.com site or downloading and running from a vs2015 website project works as above ( without doing a build first ). The version of angular that is downloaded is 1.3.13.
When updating angular to 1.4.7 with npm install, the sample no longer works properly. When the "All" filter is selected, items may still be added, but they are no

[2015-10-01 14:20] ToddThomson commented on #1452
@samccone Note that I did not do a compile of the typescript files. Angular.js 1.3.13 to 1.4.7 breaks the working demo. Back to Angular 1.3.13 and the demo works.

[2015-10-01 19:29] ToddThomson commented on #1452
OK, I've got everything working with the angular bower_module set to 1.3.13. This is fine for my purposes.
If you are interested, I've build a version of todoMVC using Typescript, Angular and Require using a gulp adaptor (TsProject) I built to bundle typescript es6 modules.

[2015-10-01 19:50] samccone commented on #1452
Hey @ToddThomson so things breaking between 1.3 and 1.4 is no so suprising since there were significant breaking changes between those releases of angular.

Are you interested in updating the example to 1.4.x?

---

I am going to close this issue since this is not exactly an issue with our code

[2015-10-01 19:50] #1452 closed

[2015-10-01 19:53] arthurvr commented on #1335
Thanks. Has someone been able to look into this yet? :)

[2015-10-01 20:07] arthurvr commented on #1001
Nobody in the community ever did the PR and this has been open for a while. Time to close this?

[2015-10-01 20:09] samccone commented on #1001
:jack_o_lantern: :closed_book:

[2015-10-01 20:09] #1001 closed

[2015-10-01 20:09] arthurvr commented on #1217
Yay, thanks everyone. Going to close this now :)

[2015-10-01 20:09] #1217 closed

[2015-10-01 20:13] ToddThomson commented on #1452
@samccone Sure, I have this afternoon to work on OSS. Here is the link to the TsProjectTodoMVC github repository if you are interested: TsProject (https://github.com/ToddThomson/tsproject)
I'm working on the readme docs right now and I will link back to your TodoMVC.

[2015-10-01 20:13] arthurvr commented on #952
The app was recently rewritten so closing this.

[2015-10-01 20:13] #952 closed

[2015-10-01 20:14] arashkhan commented on #1217
How can I  move out of your fucking conversation and do not receive email

[2015-10-01 20:14] arthurvr commented on #1257
@samccone's PR landed so going to close this. Thanks again for the report.

[2015-10-01 20:14] #1257 closed

[2015-10-01 20:16] samccone commented on #1217
You can click this button :)

![screen shot 2015-10-01 at 1 15 23 pm](https://cloud.githubusercontent.com/assets/883126/10232601/80262808-683e-11e5-87f2-cc42a88e47e8.png)

Happy Thursday to you as well :jack_o_lantern:

[2015-10-01 20:24] arthurvr commented on #1433
We know the TodoMVC example doesn't cover every aspect of modern webapps, but the goal is to give people a quick glance and *help* them choose. That said, frameworks that heavily use two-way databinding generally already show that on that simple of an app. I personally don't think we need to add any more features to the examples and adding more would also mean a maintainability risk.

I'm going to

[2015-10-01 20:24] #1433 closed

[2015-10-01 20:28] arthurvr commented on #1342
The PR landed so closing this now. Thanks everyone.

[2015-10-02 05:19] #1222 closed

[2015-10-02 05:22] arthurvr commented on #1234
We dropped the montage app so closing this now. Thanks everyone.

[2015-10-02 05:33] marchant commented on #1234
Just as we had fixed our bugs with pointer events and were ready wrap it up, can you re-open please?

Thanks!

 <http://montagestudio.com/>
montagestudio.com <http://montagestudio.com/>
Benoit Marchant <mailto:benoit@montagestudio.com>
CEO & Founder
1290 Oakmead Parkway, Ste 111
Sunnyvale, CA 94085
(1) 408.621.4874 mobile <tel:+1-408-621-4874>
Profile <http://www.linkedin.com/in/benoitmarchant> |

[2015-10-02 05:35] samccone commented on #1234
:+1: sure thing thanks @marchant !

[2015-10-02 05:37] marchant commented on #1234
Thanks!

 <http://montagestudio.com/>
montagestudio.com <http://montagestudio.com/>
Benoit Marchant <mailto:benoit@montagestudio.com>
CEO & Founder
1290 Oakmead Parkway, Ste 111
Sunnyvale, CA 94085
(1) 408.621.4874 mobile <tel:+1-408-621-4874>
Profile <http://www.linkedin.com/in/benoitmarchant> |  @benoitmarchant <http://twitter.com/benoitmarchant>

[2015-10-02 05:38] samccone commented on #1234
@marchant I reopened the original PR, I will keep this issue closed however since as @arthurvr said the app is temporarily not on the site (so it is not an issue) :)

[2015-10-02 05:38] #1234 closed

[2015-10-02 18:43] ToddThomson commented on #1452
@samccone Sorry, I don't have the time to issue a PR. To fix the todoMVC typescript + angular app you need to modify TodoCtrl.ts. This will allow the example to run with Angular 1.4.7.
[code]

[2015-10-02 18:44] samccone commented on #1452
great thanks for the patch @ToddThomson :sparkles:

[2015-10-02 19:02] ToddThomson commented on #1452
@samccone I forgot one other issue when using the 1.4+ Angular typescript definition file ( and using the Typescript 1.6.2 compiler ). You need to change the following line to ( it requires a typecast to any to get past the compilation error ):

    $scope.$watch( 'location.path()', path => this.onPath( path as any ) );

[2015-10-04 19:53] arthurvr commented on #1063
Few months later, what's the status of Framework?

[2015-10-04 20:19] arthurvr commented on #1446
I'm going to close this for now. We're not really interested in having two Angular+Dart examples and will reconsider how we're going to handle the Angular examples once Angular 2.0 actually releases. Thanks for the suggestion though.

[2015-10-04 20:19] #1446 closed

[2015-10-04 20:28] kasperpeulen commented on #1446
Okay, np :) @arthurvr

I think angular1 dart is not longer maintained, so maybe it would be good to replace that one, once angular2 is released. But for now, I guess the angular1 dart example is more relevant.

[2015-10-04 20:30] arthurvr commented on #1034
This is done: https://github.com/tastejs/todomvc/commit/f9e8bdc408a5a0e12482986888c5ba00b7a0a6fd.

[2015-10-04 20:30] #1034 closed

[2015-10-04 20:33] arthurvr commented on #987
I don't seem to be noticing this anymore. Is this still an issue?

[2015-10-05 03:01] sotayamashita opened #1458 "New app - Typescript and JSX"

[2015-10-05 03:52] sotayamashita opened #1460 "New app with redux"
http://rackt.github.io/redux/index.html

[2015-10-05 05:10] ColinEberhardt commented on #987
The frameworks no longer slide into place so this is no longer an issue :-)

[2015-10-05 05:10] #987 closed

[2015-10-05 07:35] arthurvr commented on #1061
Hey there! Thanks for the suggestion and sorry for the late reply. We discussed this and decided to close this. We already have a bunch of Angular apps and Spaghetti doesn't have a really big userbase or community yet. When you feel like its userbase and community grew a bit feel free to ping us again and we can reconsider this :)

Thanks again!

[2015-10-05 07:35] #1061 closed

[2015-10-05 07:37] arthurvr commented on #1458
Can you elaborate? Both Typescript and JSX are languages not MVC solutions. We already have apps written in Typescript and in JSX so I wonder if the combination would still be really useful.

[2015-10-05 16:17] samccone commented on #1446
@kasperpeulen any interest in helping out with our angular 1 example :)

[2015-10-06 05:27] samccone opened #1461 "🔍 Add a more robust test around a complete all mixed state"
@albrow pointed out this nifty case that our suite does not currently catch

https://github.com/tastejs/todomvc/pull/1441#issuecomment-145744602

![](https://camo.githubusercontent.com/09d30e8dfb88ca6333b3981a6c76dbb0dc705af5/687474703a2f2f672e7265636f726469742e636f2f457242694863544d376c2e676966)

![](https://camo.githubusercontent.com/1dbb518b2033d563d882f1cd79b7a11757fbdfa6/687474703a2f2f672e726

[2015-10-06 16:35] samccone opened #1462 "Add a test to validate presense of app in learn.json"
cc @arthurvr

[2015-10-06 17:09] arthurvr commented on #1312
The PR landed so closing this. Thanks again!

[2015-10-06 17:09] #1312 closed

[2015-10-06 17:11] arthurvr commented on #1462
Do we just want to check learn.json or actually do check if the learn bar is present on the app? Might better do the latter or not?

[2015-10-06 17:14] samccone commented on #1462
either one would work, static analysis of learn.json would be really easy :)

[2015-10-07 18:50] arthurvr commented on #1394
@passy Hey, there's totally no hurry, but mind giving us a status update? It looks like you've done some cool work in a branch, what should happen more?

[2015-10-07 19:30] passy commented on #1394
@arthurvr So there is a branch here on the repo, but I'm tracking the changes at [this repo](https://github.com/evancz/elm-todomvc) which will soon be upgraded to 0.16. There are a bunch of open PRs which get it closer to spec compliance, but Evan is busy sorting the Elm release out. It's probably going to take a bit longer, but I haven't forgotten about it. :)

[2015-10-07 19:33] arthurvr commented on #1394
Thanks @passy :)

[2015-10-09 00:50] jonnykry commented on #1405
It seems like @rulotr's suggestion fixes this bug.  I built it locally with the changes and couldn't reproduce the bug.  Is there a PR for this?  I can make one (and add unit tests too) if not.

The bug is still happening on Firefox with the production code.

[2015-10-09 00:51] samccone commented on #1405
PR away @jonnykry :)

[2015-10-09 00:51] jonnykry commented on #1405
Cool!  Can't get around to it tonight, but I can get it done tomorrow np.
:hammer: :bug:

[2015-10-11 02:30] davidrunger opened #1465 "Lack of favicon.ico in root directory raises 404 error, cluttering test output"
When I run the tests per the instructions in `tests/README.md`, I get a 404 error for favicon.ico in many/most/all(?) of the tests.

Example:

[code]

The tests pass, but these error messages terribly clutter up the test output.

I imagine that there is some setting to suppress the printing of the errors, but that is probably not ideal because it would be nice to see other, legitimate errors in th

[2015-10-11 02:56] samccone commented on #1465
Here is so more context https://github.com/tastejs/todomvc/commit/6b12eb31a81f8ec8271cb25d564ea31439620b3

I'm totally up for a more elegant solution if you can think of one

[2015-10-11 05:19] davidrunger commented on #1465
One option is to use an express.js server instead of the simpler http-server for serving the todo apps for the tests. Express has a middleware that allows specifying the location of the favicon.

Here's a pull request for that: https://github.com/tastejs/todomvc/pull/1467

Or the simpler option of just putting that symlink in the root directory doesn't seem all too terrible to me. Probably somethi

[2015-10-11 13:51] remojansen opened #1468 "New app - TypeScript - React"
Since the TypeScript 1.6 it supports a new kind of file known as TSX (Typed JSX). This allows theTypeScript compiler to go directly from TSX to JavaScript. I have migrated the TodoMVC react example to .TSX would you accept a pull-request?

PR https://github.com/tastejs/todomvc/pull/1473

[2015-10-13 03:15] samccone commented on #1405
617079e

[2015-10-13 03:15] #1405 closed

[2015-10-13 03:17] #1465 closed

[2015-10-13 13:56] addyosmani commented on #1333
@samccone Will you have time to try bumping the Ember app to latest? @paullewis ran into this leak today and was curious if we're planning to try updating to see if this has been solved upstream.

[2015-10-13 15:04] stefanpenner commented on #1333
its solved

[2015-10-13 18:21] samccone commented on #1333
@stefanpenner would it be possible to wrangle someone from the ember team/community to take a look at / help with

https://github.com/tastejs/todomvc/pull/1360 || https://github.com/tastejs/todomvc/pull/1472

I know there are a few research projects going on using TodoMVC and I would hate for ember to be poorly represented here.

[2015-10-13 21:56] stefanpenner commented on #1333
For those interested, we maintain an idiomatic version: https://github.com/ember-cli/ember-cli-todos

Although it uses build tooling/provides tests and full ci/es6 features. It should serve as a good reference for this projects variant

[2015-10-13 22:06] samccone commented on #1333
@stefanpenner Would you or someone that works on that fork be interested in PRing this back into main TodoMVC? We have full support for this kind of build process now, I think that it would be super helpful to the community at large :)

[2015-10-13 22:13] stefanpenner commented on #1333
I'm quite pressed for time.

@tchak do you have spare cycles?

[2015-10-14 20:39] tchak commented on #1333
@stefanpenner I can do that.

[2015-10-14 20:42] samccone commented on #1333
aweeeesome @tchak :hand: :bow:

Let me know if you run into any issues or whatever, I am here to help!

[2015-10-15 07:56] finom commented on #1003
Hi @stephenplusplus. Let me reopen this question. The Matreshka.js is growing slowly but it already has some pleasured fans.

Matreshka has now 324 stars on Github and 500+ downloads per month from npm. I know it's not a lot but we're moving forward. There will be more information soon (video tutorials + tutorials in English).

There are some repos related to the project: https://github.com/matres

[2015-10-15 18:52] dmitrymar opened #1475 "Non-framework jQuery implementation"
I have noticed that your Vanilla JS implementation follows MVC pattern by having separate components ( controller.js, model.js, etc. ). Is there a reason why your jQuery implementation doesn't follow similar pattern and is made up of only app.js?

[2015-10-15 21:32] mshindal opened #1476 "The README in each example's folder should have the version number of the MVC framework used"
If I'm looking at the source code of one of the examples, there's no way for me to know what version of the MVC framework they are made with. The code could be very outdated and I would have no idea - for example, as of the time of this post, the emberjs example is very out of date. Sure, *sometimes* you can get the version number from the project's `package.json`, but many of the projects don't h

[2015-10-15 21:34] samccone commented on #1476
I like this idea, seems like something we could add to learn.json in the sidebar

@tastejs/todomvc thoughts?

[2015-10-16 04:46] arthurvr commented on #1476
:+1:

[2015-10-16 06:24] sindresorhus commented on #1476
:+1: for having it in the learn bar

[2015-10-16 08:26] addyosmani commented on #1476
Support for this idea for the learn bar too.

[2015-10-16 10:11] passy commented on #1476
Agreeeed.

On Fri, 16 Oct 2015 at 09:26 Addy Osmani <notifications@github.com> wrote:

[2015-10-18 12:36] #1458 closed

[2015-10-18 15:05] arthurvr commented on #1468
The PR landed.

[2015-10-18 15:05] #1468 closed

[2015-10-18 15:55] arthurvr commented on #1462
I'm tempted to go with the latter. That way we also verify the presence of `todomvc-common` and the `data-framework` attribute.

[2015-10-20 00:44] samccone opened #1487 "Add routing to typescript / backbone example"
cc @DanielRosenwasser @dprotti  @addyosmani

Anyone have any interest here, or know anyone that might?

Thanks! :sparkles:

[2015-10-20 12:35] astoilkov opened #1488 "Invalid link in JSBlocks example"
The link under the quote does not work. The link in the href is actually `http://http://jsblocks.com`. I would have created a pull request but I don't know what is the reason for this behavior.

[2015-10-20 14:43] #1488 closed

[2015-10-20 14:46] passy commented on #1488
Thanks for the report! :star2:

[2015-10-20 19:23] arthurvr commented on #1440
We never actually received a PR so I'm going to close this for now. If someone shows interest to open up that PR we can reopen this ;)

[2015-10-20 19:23] #1440 closed

[2015-10-22 03:11] eorroe opened #1489 "New App: NodeListJS"
Hey I'm the creator of [NodeListJS](https://github.com/eorroe/NodeList.js). I was wondering if I could do a todoMVC non-framework implementation with my library.

You can check out the repo to learn about it, or here's a [SitePoint article](www.sitepoint.com/dom-manipulation-with-nodelist-js/) I wrote about on it.

Would this be a good candidate that you guys would be interested in?

[2015-10-22 04:57] arthurvr commented on #1489
Mind elaborating a bit? NodeListJS is a DOM manipulation library, not an MVC solution, isn't it?

[2015-10-22 04:59] eorroe commented on #1489
@arthurvr Yea, but so is jQuery sort of, it just has ajax etc, which don't need for the todoMVC

[2015-10-23 09:14] LoveAndHappiness opened #1490 "Polymer example has build step in it"
The polymer app seems to have a build step that concatenates (maybe vulcanizes?) every module into one giant **build.elements.html** along with a giant **build.elements.js** file.

As a newcomer it isn't clear how the app is actually build and structured, when the repository is cloned, compared to other examples, like angularjs or vuejs, where the structure is pretty clear.

I recommend removing t

[2015-10-23 10:15] LoveAndHappiness commented on #1490
I also opened a question regarding this issue here: http://stackoverflow.com/questions/33296543/how-to-rebuild-polymers-todomvc-app

[2015-10-23 16:31] samccone commented on #1490
cc @addyosmani @ebidel

[2015-10-23 16:32] samccone commented on #1490
@LoveAndHappiness As to rebuilding... in the readme checkout this section https://github.com/tastejs/todomvc/tree/master/examples/polymer#making-updates

:)

[2015-10-23 16:39] ebidel commented on #1490
Vulcanizing a Polymer app is a best practice and we want to encourage folks to use this tool for performance reasons. TodoMVC is supposed to encourage that. While having a minified/built file is not the norm for these demos, it's an unfortunate necessity for us until HTML imports are native everywhere in browsers. Unfortunately, people also see these live demos and make FUD comparisons between fra

[2015-10-23 16:39] ebidel commented on #1490
We should close this issue. Updating the sample is already documented.

[2015-10-23 18:36] LoveAndHappiness commented on #1490
@ebidel

As much as I love polymer and especially as much as I love your work and that of your team, I really feel that TodoMVC is here to encourage people to try these new libraries and frameworks so that devs, regardless of their skill level in the specific framework, can use TodoMVC as an introduction.

Even the TodoMVC website says

A build step doesn't allow for *editing the code to see how i

[2015-10-23 18:45] ebidel commented on #1200
The site is using an old version of the webcomponents (full) polyfill and polymer 0.5 Updating to 1.0 will go a long way.

[2015-10-23 18:48] ebidel commented on #1490
It's a two line change to remove usage of the vulcanized files:
https://github.com/tastejs/todomvc/blob/master/examples/polymer/index.html#L8-L9

If there's a way for todomvc.com to serve the built version and devs get the unbuilt version on checkout, that would make me happy. We could switch the default to elements.html instead of elements.vulcanized.html.  But I'm not familiar with how the site

[2015-10-23 21:22] LoveAndHappiness commented on #1490
I have to agree with you (@ebidel). It's a two line change to remove it and I wasn't aware of it when I cloned the repo, because the first thing I did was to remove all css and all comments and changing the import afterwards didn't make any difference because I used an async property. Anyway, I will close the issue now.

Though I suggest commenting the vulcanized to avoid future confusion.

Thanks

[2015-10-23 21:31] samccone commented on #1490
@ebidel @LoveAndHappiness going to reopen this for a moment, would love to hear @arthurvr's and @sindresorhus's thoughts around this because overall we try and avoid "compiled" code for the examples for the reasons you so elegantly pointed out @LoveAndHappiness

You can see this in place with our vanilla JS react examples and how we are using the browser version of the JSX compiler, which you woul

[2015-10-24 05:18] ebidel commented on #1490
The goal of TodoMVC is meant to demonstrate app structure and design patterns. Neither is lost in serving a vulcanized version. Refer to https://github.com/tastejs/todomvc/issues/1490#issuecomment-150628240. The app structure is no different when using the vulcanized file. The key point is that the unminified source is checked in alongside the vulcanized bundle and it's easy to switch between for

[2015-10-24 08:39] arthurvr commented on #1490
I was against it from the beginning and don't see why this app needs to be different than all other build systems, which we also disallow. It adds  complexity and doesn't add any value when comparing frameworks. It only makes it (even if it's just a little bit) more difficult to dig into the source code and the performance improvements don't really matter, we even warn people about that right in t

[2015-10-24 10:53] passy commented on #1490
We deliberate don't have strict rules for or against compiled code, because there's often a balance to strike between idiomatic use and "editability". Both are core goals with TodoMVC but I think it's best to make this decision on a case by case basis. As @arthurvr pointed out, loading times is **not** something we optimize for, but in Polymer's case it's more about the HTML imports than that.

[2015-10-24 10:55] passy commented on #1200
I'll try to take care of the Polymer 1.0 homepage update.

[2015-10-24 16:20] ebidel commented on #1490
Agree with Pascal. Polymer is unique here in that it requires polyfills. No
other example is in the same boat.

Loading is super fast in Chrome because it's native. Other browsers need
vulcanized help. The problem is that developers see differences when
testing in different browsers and end up drawing incorrect conclusions from
it.

On Sat, Oct 24, 2015, 3:54 AM Pascal Hartig <notifications@github

[2015-10-26 10:34] paullewis commented on #1017
Just wanted to nudge this. I've recently been testing TodoMVC on a bunch of mobile devices, and I noticed (as one example) that you can't get the button (`.destroy`) because it relies on `:hover` styles. You have to know to tap on the item first.

It would be lovely to get to some samples that do the right thing here and everywhere else @goodmike has mentioned.

[2015-10-26 15:24] addyosmani commented on #1017
@tastejs/todomvc Let's talk about what we can realistically do to include this as part of the spec.

[2015-10-26 16:57] bondden opened #1492 "Incorrect path in Aurelia demo"
![todomvc-2015-10-26_22-53-33](https://cloud.githubusercontent.com/assets/5232392/10735978/d5c9f3fc-7c34-11e5-8bc6-feedd9d3ee78.png)

[2015-10-26 16:58] samccone commented on #1492
@bondden thanks for the report! are you interested in opening a PR to resolve?

[2015-10-27 13:05] sindresorhus commented on #1017
What's the best practise for handling this? Remove the `:hover` on touch devices? Ideally we would have native effects like being able to slide to delete or something.

[2015-10-27 16:23] samccone commented on #1017
I think a fix might require a re-specing of this

[2015-10-28 06:26] arthurvr commented on #1489
The reason jQuery is there is that everybody knows it and people have a familiar thing to compare actual MVC solutions to. This isn't really the same situation. It's not an MVC solution so I'd prefer to close this. Thoughts?

[2015-10-28 06:28] eorroe commented on #1489
Well that's true, but I thought you guys were doing non-mvc solutions as well?

[2015-10-28 16:25] arthurvr commented on #1489
Going to close this because this is a DOM manipulation library.

[2015-10-28 16:25] #1489 closed

[2015-10-28 23:06] NicoJuicy opened #1495 "Added example with angularjs + odata"
I added a combo of Angularjs + odata on https://github.com/NicoJuicy/blog-todomvc-angular-odata
( it on the .Net tech -- Asp.Net WebApi)

I think it's a great example to show odata qualities, i still need to add some small improvements ( eg. using odata queries through the URL). But i don't know if todomvc supports .net tech and how updates are integrated on your end ( using a Build Controller fro

[2015-10-29 18:37] sindresorhus commented on #1017
Also relevant: https://github.com/tastejs/todomvc-app-css/issues/9

[2015-11-05 20:03] LoveAndHappiness commented on #1475
I also like to point out that Vue also doesn't adhere to any code separation architecture.

Compared to Polymer, which tries to follow some MVC-architecture and uses an `attachedCallback` on the view (´td-todos´) to reference the properties and methods on the model (´td-model´).

In my understanding, this seems unnecessary for Polymer and was only done to adapt to the [MVC architecture](https://de

[2015-11-06 04:28] samccone opened #1501 "angular-dart complains about audio context..."
'http://localhost:8000/examples/angular-dart/web/main.dart.js 66335:22 \'webkitAudioContext\' is deprecated. Please use \'AudioContext\' instead.',

wat :)

[2015-11-07 14:03] enepomnyaschih opened #1502 "New app with jWidget"
http://enepomnyaschih.github.io/jwidget#!/guide/home

In response to your requirement "We care about bold ideas that bring something truly new to the table".

Innovative ideas:

* Object aggregation ([description](http://enepomnyaschih.github.io/jwidget/1.4/index.html#!/api/JW.Class-method-own), usage [examples](http://enepomnyaschih.github.io/jwidget/1.4/index.html#!/api/jQuery) in conjunction wi

[2015-11-08 08:45] anubhav7495 opened #1506 "To-Do text overflow"
Steps to reproduce:

1. Open any todomvc app.
2. Write a very long To-Do in the input area.
3. The text flows out of the text container when todo is submitted.

Expected Behaviour:
The long text show always stay in the container and not overflow out of it.

[2015-11-08 09:43] passy commented on #1506
Which one? Seems to be alright for Backbone at least.

<img width="1552" alt="screenshot 2015-11-08 09 42 49" src="https://cloud.githubusercontent.com/assets/9906/11019710/220a4b0a-85fd-11e5-81ce-5edf140918d1.png">

[2015-11-08 09:57] anubhav7495 commented on #1506
Angular, angular+firebase.

[2015-11-08 10:00] anubhav7495 commented on #1506
/home/anubhav/Pictures/Screenshot from 2015-11-08 15:29:16.png

[2015-11-08 10:00] anubhav7495 commented on #1506
![screenshot from 2015-11-08 15 29 16](https://cloud.githubusercontent.com/assets/10097603/11019756/9d7997ac-862d-11e5-88eb-8581b1b2cb83.png)

[2015-11-08 10:00] anubhav7495 commented on #1506
even the backbone one doesnt work

[2015-11-09 02:07] davidrunger opened #1508 "angularjs: inconsistencies between`api` store and `localStorage` store"
This is a relatively minor issue, pertaining only to code clarity rather than to actual functionality, but anyway...

In the Angular 1 app, a web api will be used to store todos if one is available, otherwise the app will fall back to using localStorage. In order to accomplish this, two factory services are defined in https://github.com/tastejs/todomvc/blob/master/examples/angularjs/js/services/to

[2015-11-09 10:11] anubhav7495 commented on #1506
Update: This issue is Firefox Specific, i tried with chrome and it works fine.

[2015-11-09 16:21] samccone commented on #1506
@anubhav7495 this seems like something that we can resolve in the todo-app-css repo https://github.com/tastejs/todomvc-app-css

cc @sindresorhus

[2015-11-09 18:38] samccone opened #1511 "Tests: When a non-framework test has been made... run backbone and react examples by default"
This way we can make sure no regressions were introduced in the tests :)

[2015-11-10 17:35] samccone opened #1516 "go example allows you to enter empty todos"
![screen shot 2015-11-10 at 9 34 35 am](https://cloud.githubusercontent.com/assets/883126/11070049/5043b47e-878e-11e5-8896-b647de5a13a6.png)

just by hitting enter

cc @albrow @shurcooL

[2015-11-10 17:36] samccone opened #1517 "Add integration test around entering empty todos"
to prevent this kind of failure
https://github.com/tastejs/todomvc/issues/1516

[2015-11-10 17:51] albrow commented on #1516
Sorry about that. Should be an easy fix. I'll do it soon.

[2015-11-10 17:58] samccone commented on #1516
nah I should have caught it, the blame is on me

[2015-11-10 20:07] shurcooL commented on #1516
Question, what exactly does the test suite cover and is easy to change it so it catches these kind of behavior issues?

[2015-11-10 21:23] samccone commented on #1516
the tests cover most of the "spec", but there are gaps still

the tests are here:
https://github.com/tastejs/todomvc/blob/master/tests/test.js

and it is fairly simple to add new tests :)

[2015-11-11 02:49] anubhav7495 commented on #1506
created a pull request on todomvc-app-css: https://github.com/tastejs/todomvc-app-css/pull/12
Fixes the issue on firefox.

[2015-11-11 03:48] samccone commented on #1506
boom thanks for the PR @anubhav7495

[2015-11-11 09:06] #1506 closed

[2015-11-12 18:36] samccone commented on #1342
it was reverted due to deploy issues, reopening

[2015-11-12 18:36] samccone commented on #1342
whoops nm

[2015-11-12 18:36] #1342 closed

[2015-11-13 20:49] radoneman commented on #850
Please see this fix
https://github.com/radoneman/todomvc/tree/hotfix-right-column-popup-too-narrow

I'm a first timer :)

[2015-11-13 21:08] arthurvr commented on #1492
@mhoyer Can you look into this? Thanks.

[2015-11-13 21:19] arthurvr commented on #1501
Not a bug, just a stupid warning. :cry: https://github.com/dart-lang/sdk/issues/23259.

Honestly, I don't think we should care. Definitly as (I guess?) this example will be replaced/dumped after ng2. Angular.dart itself is currently [dying](https://github.com/angular/angular.dart/graphs/contributors) anyways.

[2015-11-13 21:25] samccone commented on #1501
alright :(

[2015-11-13 21:25] #1501 closed

[2015-11-16 17:04] iheanyi opened #1520 "Update Ember.js example to latest version (and Ember-CLI?)"
Currently the Ember.js example is using version 1.10, whereas the latest official version of Ember is 2.1.0. Additionally, the example given is written without the use of Ember-CLI, but Ember-CLI is the official way of starting on new Ember projects. So the Ember.js example should be updated to reflect this.

[2015-11-16 17:16] samccone commented on #1520
we agree!

going to xlink here and close this issue for now
https://github.com/tastejs/todomvc/issues/1069

thanks for the interest @iheanyi !!!

[2015-11-16 17:16] #1520 closed

[2015-11-16 21:37] passy opened #1522 "test-runner.sh should fail loudly"
We should have `set -e` on `test-runner.sh`. The issue with the breakage last week was that the `gulp` task failed with a non-zero status but it still committed and pushed everything to `gh-pages`.

Is there anything that could break from enabling that? // @samccone

[2015-11-16 21:40] samccone commented on #1522
perhaps... need to review some things before we turn it on given how we run multiple tests

[2015-11-16 23:31] iheanyi commented on #1069
So we're in agreement that there needs to be a completely separate ember-cli example, then? Really interested in this, so just wanna make sure. :)

[2015-11-16 23:33] samccone commented on #1069
yep! @iheanyi I think a great initial thing to start with would be

https://github.com/ember-cli/ember-cli-todos

open a a PR and we can go from there.. thanks a million :revolving_hearts:

[2015-11-17 04:15] #1516 closed

[2015-11-17 05:29] mhoyer commented on #1492
@arthurvr sure I can have a look. Hopefully tomorrow. I was already preparing a new PR for Aurelia example including the fix for https://github.com/mhoyer/todomvc-aurelia/issues/10.
@bondden in the meantime you may have a look into current master of my original sources.

[2015-11-17 06:19] ebidel commented on #1200
Looks the the improvements made a difference. First paint is now ~350ms, which is well under RAIL.
A lot of the elements also received perf updates in the last several months, so I suspect that is also helping. There are now 18 custom element instances on the page (not sure what it was before)...but that is very low :)

BTW, you could also add `async` to the web components polyfill to take it out

[2015-11-20 16:36] EduardoLopes commented on #1010
I guess this is fixed already? at least is working on Firefox 42.0 (Lubuntu 14.04.3 LTS)

[2015-11-20 20:17] robbbz commented on #1391
Maybe open a different issue, this is about the main angular example.

[2015-11-20 20:26] zubairq opened #1525 "New Todo MVC implementation in ClojureScript"
I have a new implementation which is 84 lines of code made in a Clojurescript framework. How can I get this added? Here is the code:

https://github.com/zubairq/coils/blob/2889d8a7ebc3cd280ca51692dd995c7a39c61a0b/src/webapp/framework/client/components/main_view.cljs

:and here is a demo:

https://www.youtube.com/watch?v=CzwikfCAdws

[2015-11-20 20:31] samccone commented on #1525
I would love to have a closure example :)

please take a look at the instructions here
https://github.com/tastejs/todomvc/blob/master/contributing.md#submitting-a-new-app

[2015-11-21 07:24] zubairq commented on #1525
Ok, I will look at this and follow these instructions. Can I will come back to you with questions at some point if I get stuck?

[2015-11-21 07:48] passy commented on #1525
@zubairq Absolutely. :)

[2015-11-21 20:30] arthurvr commented on #1200
Yeah, very nice improvement :) IMHO it's okay for now and we can close this issue.

[2015-11-21 20:35] addyosmani commented on #1200
Agree. Let's close this one up!

On Sat, Nov 21, 2015, 8:30 PM Arthur Verschaeve <notifications@github.com>
wrote:

[2015-11-21 20:47] #1200 closed

[2015-11-22 06:43] zubairq commented on #1525
Great, thanks

[2015-11-22 21:40] passy commented on #1010
Thanks, @EduardoLopes! Yes, I reckon the recent update has fixed it.

[2015-11-22 21:40] #1010 closed

[2015-11-23 15:44] canvaskisa commented on #1460
@sotayamashita i have made a little [TodoMVC example](https://github.com/canvaskisa/redux-css-modules-todomvc), using redux, so i can update it for todomvc repository style, if you're interested in it

[2015-11-24 01:55] sotayamashita commented on #1460
@canvaskisa sound good to me !

[2015-11-24 05:55] arthurvr commented on #850
Looks like this is already resolved. (Ref https://github.com/tastejs/todomvc/pull/1519)

[2015-11-24 05:55] #850 closed

[2015-11-25 22:18] dmethvin commented on #1475
I'll also note that knockoutjs doesn't separate these, it's all in one `app.js`. If the examples are supposed to follow some rule about file-based separation of models, views, and controllers then the docs should mention it. It's definitely overkill for something of this size so I'm inclined to say a single file is fine, but I understand that architectures designed for dozens of Ms, Vs and Cs may

[2015-11-27 22:53] dmethvin opened #1534 "Criteria for sunsetting abandoned/obscure MVC implementations"
As I've looked at fixing a few of the frameworks in #789 it's pretty clear that some of them are no longer  being actively developed. It might help TodoMVC to remove them. It would definitely help me close #789. :smiley_cat:

I'm not sure what the procedure or criteria might be, but [dijon](https://github.com/creynders/dijon) and [serenadejs](https://github.com/elabs/serenade.js/tree/master) would

[2015-11-28 03:27] dmethvin commented on #1534
Looks like this is related to #845, perhaps a duplicate or subset.

[2015-11-28 16:29] arthurvr commented on #1534
We've been dropping one off once upon a time (https://github.com/tastejs/todomvc/issues/1317, https://github.com/tastejs/todomvc/issues/1219, https://github.com/tastejs/todomvc/issues/1173, ...) but I definitely agree we should be able to drop off some more things. Big updates like https://github.com/tastejs/todomvc/issues/1110 and https://github.com/tastejs/todomvc/issues/789 always take way to l

[2015-11-28 16:29] #1534 closed

[2015-11-28 16:31] addyosmani commented on #1534
Just wanted to echo a further thank you for all of the hard work helping us with TodoMVC. Thanks @dmethvin! :tada:

[2015-11-29 03:34] developit opened #1535 "New App: Preact + ES6"
Hi there. I forked the React TodoMVC implementation, and converted it to ES6 + [Preact](http://git.io/preact) + Webpack.

I'm not familiar with the process for getting things added to the official demos list, so I just threw it in a standalone repo with its own demo.

**Repo:** https://github.com/developit/preact-todomvc
**Demo:** http://developit.github.io/preact-todomvc/

[2015-11-29 19:15] samccone commented on #1535
Hey @developit thanks for the issue here, Preact seems really interesting. As with all of the submissions we like to see a community around the libs. At this time is seems like Preact is still quite new. For now I am going to close this issue, and we can reopen when you feel like you have a sizeable userbase and a decent amount of iteration around the codebase.

Feel free however to add this examp

[2015-11-29 19:23] developit commented on #1535
It might still be worthwhile to at least update the React example, since it's written in a style that is now considered deprecated.

[2015-11-29 19:27] developit commented on #1535
Added. https://github.com/tastejs/todomvc/wiki/Other-implementations#preact--es6

[2015-12-01 22:15] mriccia commented on #1244
@sindresorhus  Do you still need this to be created? I'd be happy to help out

[2015-12-01 22:16] samccone commented on #1244
:+1: if you are interested, you have our full support @mriccia :)

[2015-12-01 22:26] mriccia commented on #1244
@samccone :+1: amazing, I'll give it try!
I may need some assistance as it is (kinda) my first OSS contribution, but seems like a good way to get started!
First question: should a page be generated from the json file? Or client-side rendering? I can see the file is exposed -> http://todomvc.com/learn.json but would make more sense if a static file would be generated IMO

[2015-12-01 22:32] samccone commented on #1244
I am totally fine with client side rendering :) keeps the complexity of our build process low

[2015-12-01 23:07] mriccia commented on #1244
Cool! I'll take a stab at it, will probably use a Underscore template or something similar.
Will post some details once I start getting somewhere (or come up with more questions :) )
Thank you for your help so far! :)

[2015-12-02 18:35] LoveAndHappiness commented on #1490
I believe there has been plenty of opportunity to bring forward all arguments, so that the issue can be dealt with or closed, because I we can expect that no additional information will be introduced.

Polymer has a build step in it that is only retroactively alterable by going through the comments.

There is consensus that this build step adds additonal complexity and also implies that developers

[2015-12-02 18:42] samccone commented on #1490
I am in agreement with you @LoveAndHappiness

Polymer having a build step makes it an outlier (of examples that can be run without a compile step {not compile-to-js}) in our examples, while yes it is not representative of a performant polymer app, the same can be said about almost all of the other examples, they are using techniques that are not the fastest since we are optimizing for simplicity a

[2015-12-02 19:47] ebidel commented on #1490
Please don't drop it. Polymer is unique to every example in TodoMVC because it requires polyfills. Am I right that no other example does?

@LoveAndHappiness it's far from an assumption. This is from years of working on this stuff and talking with developers. People are very quick to form FUD and draw incorrect conclusions about libraries without knowing detail or context. Added to this is the unfo

[2015-12-02 20:57] addyosmani commented on #1490
As a project, we've increasingly seen TodoMVC used for performance benchmarking, despite not being originally designed for this purpose. Our primary goals have always been ease of code readability and learning, as reflected by comments from core above. That said, the onus ultimately falls on us to craft a very good solution for the perf use-case if we want to continue to be used for this purpose.

[2015-12-02 21:52] samccone opened #1541 "optional /perf directory for any example proposal"
There is a demand on many fronts to enable "production" versions of todomvc apps.

Any app should be able to add an additional /perf directory

`examples/backbone/perf`

The folder should contain an index.html file to serve their app in a way that is inline with best practices for said tool/framework.

#### Requirements for perf

* No files will be linted in /perf
* The root examples folder should

[2015-12-02 23:54] mriccia opened #1542 "WebRx doesn't load the sidebar correctly"
I noticed that the information from the 'learn.js' doesn't load properly for WebRx.
http://todomvc.com/examples/webrx/

There seems to be an error either in the data or with the template (didn't manage to look up what should be amended)

[2015-12-02 23:57] samccone commented on #1542
:+1: good catch, looks like a JS error in webrx

[2015-12-02 23:58] samccone commented on #1542
cc @oliverw

[2015-12-03 00:28] addyosmani commented on #1541
:+1: from me based on comment from https://github.com/tastejs/todomvc/issues/1490#issuecomment-161431962

[2015-12-03 00:51] sindresorhus commented on #1541
:+1:

[2015-12-03 12:32] passy commented on #1541
SGTM. What about perf-related changes to the logic, as with angular-perf? Do we continue to keep those separate or is that something you want to cover with this proposal as well?

[2015-12-03 15:38] samccone commented on #1541
I would like to kill angular-perf and roll it into normal angular

[2015-12-03 17:24] passy commented on #1541
@samccone So having `perf/` versions of the app that aren't directly created from the non-`perf/` are okay then?

[2015-12-03 17:27] samccone commented on #1541
hmm good question, i was thinking there would be 1 codebase just compiled differently for perf...

but perhaps we should allow two codebases because i could think of situations where this would be required

[2015-12-03 18:05] passy commented on #1541
In theeooory, we could have a `perf.patch` that's applied as part of the build, but I'm not sure if that's gonna make things actually easier for anyone.

[2015-12-03 18:09] samccone commented on #1541
imho... lets just let some people do the perf version and we can see the demands per each request

thoughts?

[2015-12-03 18:34] passy commented on #1541
@samccone :+1: Let's figure out the details along the way.

[2015-12-03 18:41] samccone commented on #1541
:dancer:

[2015-12-03 20:55] mriccia commented on #1244
@samccone I got something working but have some questions around where's best to keep things and whether it's OK to use certain things, what's the best forum for asking those questions?
Should I just post them here?

[2015-12-03 20:57] samccone commented on #1244
you can post them there, or open up a PR and we can chat there.

Thanks!

[2015-12-03 21:06] mriccia commented on #1244
Ok I'll put them here, what I've got is not really PR ready.

- Where should I place the .html file? at the root of the repo?
- I have seen Polymer components being used on index.html, is it OK to use Polymer components on the Learn page?
- I am using most of the code from here: https://github.com/tastejs/todomvc-common/blob/master/base.js but it's just copied over and adjusted. Do you think I sho

[2015-12-04 04:05] #795 closed

[2015-12-04 04:31] samccone commented on #795
@dmethvin A+ like a champ killed this one

[2015-12-04 14:58] RedFeet opened #1543 "Error in IE11.0.25, file missing: HTMLImports.min"
The Aurelia implementation of the todomvc doesn't start running...
It reports that the HTMLImports polyfill file is missing:
github:webcomponents/webcomponentsjs@0.5.4/HTMLImports.min

But since I can see that the file exists in the directory /bower_components/
maybe the path is just incorrect or the Bower install wasn't complete.

Background: capture from the IE11.0.25 console log:
DEBUG [bootstr

[2015-12-04 23:07] dmethvin commented on #384
I couldn't decypher the discussion here, but does it still apply for the current spine app? I fixed #795 a few days ago. Is this ticket about correctness, or just efficiency? If it's the latter then maybe a note could be added to https://github.com/spine/spine/issues/530 and this could be closed.

[2015-12-04 23:48] dmethvin commented on #635
Can the title here be changed to be more specific and tagged to reflect the remaining tasks? Is there a unit test that could be made to find this? Sounds like the bug is that the text is initially selected when editing?

[2015-12-06 00:26] gadfly361 opened #1546 "Were there breaking CSS changes in last 8 months?"
Hey team,

There is something funky going on with the CSS in the reagent example. I am curious if there has been some kind of change to the demo's css? I authored it 8 months ago, and I recall it looking fine, it passed all the tests, and there is no way it would have passed your review process in its current state because the css problems are _egregious_.

Steps to reproduce:
1. Type foo, hit ent

[2015-12-06 00:40] samccone commented on #1546
verified :white_check_mark:

![screen shot 2015-12-05 at 4 34 34 pm](https://cloud.githubusercontent.com/assets/883126/11611051/35a9547c-9b6e-11e5-9f2c-23032679c620.png)

Hi @gadfly361 thanks for finding this, as you can see no one has touched your example in the last 8 months

https://github.com/tastejs/todomvc/tree/master/examples/reagent

It seems like there may a potential rendering bug in chr

[2015-12-06 00:44] samccone commented on #1546
I have filed this upstream https://code.google.com/p/chromium/issues/detail?id=566561&thanks=566561&ts=1449362663

[2015-12-06 00:51] gadfly361 commented on #1546
Sweet, thanks!  Does that mean this issue should be closed? Not really sure, what the protocol is if the problem is indeed upstream.

[2015-12-06 00:54] gadfly361 commented on #1546
Also, just so there is an example, after step 5 in my steps to reproduce, it looks like this (note checkmark):

![image](https://cloud.githubusercontent.com/assets/8610039/11611091/b9b12cac-9b70-11e5-86eb-c713269fbf4d.png)

[2015-12-06 00:55] samccone commented on #1546
I will leave it open until we get a response :)

[2015-12-06 23:02] mriccia commented on #1244
Hi @samccone,
from the previous list, could you just get back to me on the first and last questions? Ignore the other two.

Also I had a first attempt at this, I am not really a creative person, so just want to get your opinion on my first attempt. Any suggestions on things it should contain? It's all in my fork of the repo if you want to take a look.

![todo_attempt](https://cloud.githubuserconte

[2015-12-08 08:17] samccone commented on #1244
+1 to keep the template separate
+1 to refactor base.js to be extendable... however that is hard to say 100% without seeing the code

The screen shot looks awesome PS, I am really excited to see this land. Thanks again for this work :+1:

[2015-12-08 10:23] mriccia commented on #1244
Thank you for those answers, I'll work on those and send a PR when done.
And thank you for the feedback, very happy to help!

[2015-12-09 10:48] addyosmani commented on #1541
I can see some framework authors requiring source specific changes for a perf-optimised version of their app. Would like to keep it flexible so `\perf` can either be same source (ideally, pretty close) with build-time optimisations or completely different source as long as it's still latest versions + follows spec.

[2015-12-09 18:26] passy commented on #1541
You spend too much time on Windows, @addyosmani! :circus_tent:

[2015-12-09 18:30] sindresorhus commented on #1541
Lol

[2015-12-09 18:32] samccone commented on #1541
![](https://pbs.twimg.com/tweet_video_thumb/CUGvkUoXIAEhAFP.png)

[2015-12-09 19:13] addyosmani commented on #1541
:sob: :chocolate_bar:

[2015-12-09 19:22] sindresorhus commented on #1541
![image](https://cloud.githubusercontent.com/assets/170270/11696030/8c22150e-9eb2-11e5-9eea-502702bb4c54.png)

[2015-12-11 13:17] beatfreaker commented on #1476
@samccone i can do a PR for this but need some guidance.

how about storing version like this in `learn.json`

[code]

[2015-12-12 19:16] xmatic opened #1548 "Tutorial for jQuery ToDoMVC"
Firstly, thank you to the creator/s for creating the jQuery ToDoMVC.

A large number of JavaScript programmers know and use jQuery.

A large number of us find it hard to wrap our heads around the new MVC frameworks (Angular, React etc.). I'm one of them.

So... the jQuery ToDoMVC build is a great "bridge" for those of us who know jQuery and want to understand what MVC is all about.

I'm humbly req

[2015-12-17 15:31] #1487 closed

[2015-12-17 18:12] DanielRosenwasser commented on #1487
:tada:

[2015-12-17 18:15] samccone commented on #1487
@dmethvin coming in strong on this one!

[2015-12-17 18:15] samccone commented on #1487
(typescript should send him some sweet stickers :package: :wink: )

[2015-12-18 15:36] samccone commented on #1244
@mriccia Let me know if I can be of any more help!

[2015-12-18 15:37] samccone commented on #1476
I like this idea @beatfreaker however, I wonder what we should do for composite examples... like react + backbone...

any thoughts?

[2015-12-18 15:38] samccone commented on #1476
[code]

maybe this :point_up:  ?

[2015-12-18 16:01] beatfreaker commented on #1476
:+1: yeah we can go with array

so this `version` array will contain `version` of every framework used as an example which is specified under `example` array right?

[2015-12-18 16:02] samccone commented on #1476
yep :) you got it

[2015-12-18 16:07] beatfreaker commented on #1476
okay and so we have to navigate to every example folder manually to get the version of framework used and then populate it in learn.json right?

[2015-12-18 16:13] samccone commented on #1476
unfortunately yes :grimacing:

[2015-12-18 16:37] beatfreaker commented on #1476
haha okay will try to make a PR this weekend and what about displaying it in side bar?

any thought where to display it any specific place or else?

[2015-12-18 16:43] samccone commented on #1476
woot! cool.

We can tackle the display part after we get the initial data in :)

[2015-12-19 05:56] ciscoheat opened #1551 "Planning todo app with rediscovered MVC knowledge"
Hello, I'm considering contribute a todo app based on knowledge from the "Rediscovering MVC" article: https://github.com/ciscoheat/mithril-hx/wiki/Rediscovering-MVC

I'll be using the recommended technology, [Mithril](http://mithril.js.org/) as a framework and [Haxe](http://haxe.org) as language. The library mithril-hx (where the article is located) will be the link between the technologies. (I'm

[2015-12-19 10:04] passy commented on #1551
I saw your article on Hacker News. I'd be very interested in seeing how this would translate into real-world code.

:+1: from me.

[2015-12-19 17:20] samccone commented on #1551
+1

[2015-12-19 19:57] relfor opened #1553 "Would a non-CSS solution be compatible with the website?"
Hey,

So I just launched this constraint-based rendering engine, which forgoes CSS positioning (for all block elements), and instead uses HW acceleration. It also has MVC baked into it.

The repository is here: [https://github.com/TheRelforFoundation/LAY.js](https://github.com/TheRelforFoundation/LAY.js)

And here is TodoMVC implemented using it:
(http://codepen.io/relfor/full/VeaVNe/)[http://code

[2015-12-19 20:01] samccone commented on #1553
I think we would accept it... we would just have to manually audit how things look

[2015-12-20 23:42] ciscoheat commented on #1551
Thanks for your support, it'll be a nice christmas project. :)

[2015-12-20 23:54] samccone commented on #1551
:santa: :christmas_tree:

[2015-12-23 04:08] dmitriz opened #1560 "Tests miss the lack of focus :)"
This fork has disabled focus on double-click to demonstrate that the tests do not catch the lack of focus:

    npm run test -- --framework=angularjs-perf

https://github.com/dmitriz/todomvc/tree/tests-miss-focus-failure

[2015-12-23 04:13] samccone commented on #1560
good catch @dmitriz

https://github.com/tastejs/todomvc/blob/master/app-spec.md#new-todo

:pencil2:

[2015-12-23 04:16] samccone commented on #1560
I would have expected this to catch it...

[code]
https://github.com/tastejs/todomvc/blob/master/tests/test.js#L91

weird eh

[2015-12-24 01:46] dmitriz commented on #1548
Would more in-code comments be of use?
What about Angular examples?

[2015-12-24 02:15] samccone commented on #1548
Hey @xmatic  I agree this sounds like an awesome idea, anyone is more than welcome to write this up, and we can link to it from the wiki pages and one of the example pages!

(closing as this is not a direct issue in todomvc)

[2015-12-24 02:15] #1548 closed

[2015-12-24 05:35] dmitriz commented on #1560
Doesn't look quite that obvious tho.

https://github.com/tastejs/todomvc/blob/master/tests/test.js#L92

uses

    testOps.assertFocussedElementId('new-todo');

but we don't have the `Id` for the double-clicked element, so looks like changes are needed in several places. Or not?

[2015-12-26 18:03] mxstbr opened #1563 "React 0.14"
I wanted to update the React TodoMVC app to React 0.14, the newest version. I noticed that [JSX Transformer](https://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html), which the example uses to avoid a build step, was officially removed with v0.14 in favor of babel-browser – which, ironically, is now [deprecated as well](https://babeljs.io/docs/usage/browser/).

[2015-12-26 19:50] samccone commented on #1563
@mxstbr we can include a build step if there is no official way to do it in browser now... also check out this issue https://github.com/tastejs/todomvc/issues/1541

If you are interested, it would be great to have a react perf example :)

[2015-12-26 19:57] mxstbr commented on #1563
@samccone will make a v0.14 perf version and look into adding the simplest build step possible so beginners won't get confused by lots of magic!

[2015-12-26 20:01] samccone commented on #1563
:+1: awesome @mxstbr Excited to see it

[2015-12-27 14:48] vuesomedev opened #1565 "New TodoMVC implementation in Angular 2 with ES2015"
Based on the existing Angular 2 TodoMVC implementation with Typescript i would like to implement it in ES6 Javascript and transpile it with Babel. I would use a Gulp based workflow with Webpack. Is there a place for it next to the original?

[2015-12-28 07:50] dmitriz opened #1566 "New AngularJS HTML Only Implementation"
Please see here for more details:
https://github.com/dmitriz/todomvc/tree/ang-html/examples/angularjs-html

Before submitting a PR, I'd like to hear opinions and critics, and whether this would be appropriate here.

# Summary

## What?
- Perhaps one of the unusual AngularJS examples out there.
- Literally no JavaScript, apart from 2 tiny helper directives.
- No controllers!
- Everything is inside

[2015-12-28 15:26] #1560 closed

[2015-12-30 16:13] #1511 closed

[2015-12-31 16:05] blacksonic commented on #1565
Completed the implementation here https://github.com/blacksonic/angular2-es6-todomvc.
What should i commit from this repository besides source files? I bundle the app with webpack and place the client application into the build directory and serve the static file from there with koa.

[2016-01-03 09:13] anubhav7495 opened #1572 "change angular.js to angular.min.js"
In the Angular examples, the angular source used in not the minified version and it is 1mb in size. We must change it to use the angular.min.js file instead to improve page load time.

[2016-01-03 09:44] passy commented on #1572
We don't optimize for load time. This is a learning resource and we want people be able to jump right into the source.

[2016-01-03 09:44] #1572 closed

[2016-01-03 10:02] anubhav7495 commented on #1572
I think you misunderstood, i am not talking about minifying the whole source file, only using the angular.min.js instead of angular.js from the npm packages.

[2016-01-03 20:15] samccone commented on #1572
I think @passy 's point still stands, however @anubhav7495 if you are interested in making a "perf" version of the angular example checkout https://github.com/tastejs/todomvc/issues/1541

[2016-01-03 20:59] passy commented on #1572
@anubhav7495 In order to fully understand an implementation, you'll most likely check out the library/framework code, too. We want to retain the ability to insert breakpoints and study the execution flow for all apps - unless it's inherently impossible due to transpilation or a similar required build step.

[2016-01-04 09:24] anubhav7495 commented on #1572
oh! i understand. I will take a look at making a perf version. Thanks

[2016-01-05 05:46] dmitriz opened #1575 "Implementation inconsistencies seem to mislead public bloggers"
[A recent high profile blog](https://medium.com/@housecor/angular-2-versus-react-there-will-be-blood-66595faafd51#.6yd8v3oze) with 700+ likes and 70+ comments is showing this comparison:

Angular 2: 565k (759k with RxJS)
React + Redux: 204k
Angular 1: 145k <-Edit — Had wrong size earlier.

(Angular 1 revised down after I [wrote to the author](https://medium.com/@dmitri145/angular-1-4-8-min-js-is-a

[2016-01-05 10:08] addyosmani commented on #1575
https://github.com/tastejs/todomvc/issues/1541 will address this. I think we should power ahead with enabling this as an option with some of the more often referenced examples.

[2016-01-06 16:46] dmethvin opened #1578 "Add unit test for "All todos" actually showing all items"
Revealed by #1577. Probably good to add tests for all filters working properly.

[2016-01-06 16:49] samccone commented on #1578
:+1: good idea here :)

[2016-01-06 16:56] dmethvin opened #1579 "Update /tests/knownIssues.js"
The [/tests/knownIssues.js](https://github.com/tastejs/todomvc/blob/d692aa3f690c29353a87dc0809b5a60c5c1db26d/tests/knownIssues.js) file references tickets that have been closed. Ideally an observant bug fixer would remove these lines in the PR as they fixed the corresponding bugs. I am not such an observant person. :smile_cat:

[2016-01-06 17:04] samccone commented on #1579
:pager: ahhh yeah this file has been rotting since I joined the project... :|

[2016-01-06 20:49] passy commented on #1575
Another one Sam found earlier today: https://docs.google.com/document/d/1eDnJ-NpJBjicxVkrZgCwMHewSZUUePVY6LCVPS_swAw/pub

TodoMVC payload sizes and "execution performance" metrics are used here for evaluating the best framework fit.

While it's extremely unfortunate that people use the current state of the project to (mis)inform their decisions, it's also a strong indicator that there is demand fo

[2016-01-06 21:13] samccone commented on #1575
going to close this issue as being essentially a duplicate of #1541

[2016-01-06 21:13] #1575 closed

[2016-01-07 02:49] dmitriz commented on #1541
As mentioned, the current `angularjs-perf` implementation is different from `angularjs`. Specifically - **it avoids router**.

The difference in performance even caused me some frustrations leading to writing [this rebellious answer on StackOverflow](http://stackoverflow.com/a/26820013/1614973).

---
Now there are two different performance stages:

**initial page load** and **route change**.

Many

[2016-01-07 02:58] dmitriz commented on #1575
It is interesting how in that comparison React is named more "mature" than Ember, where I think the opposite is true.

[2016-01-07 07:40] passy commented on #1575
I don't think we're anywhere close to being able to quantify framework
maturity. :)

On Thu, Jan 7, 2016, 02:58 Dmitri Zaitsev <notifications@github.com> wrote:

[2016-01-07 08:53] dmitriz commented on #1575
Not even the people listed underneath?

Miško Hevery (creator of Angular; Google)
Igor Minar (technical lead for Angular; Google)
Ed Faulkner (core maintainer for Ember)
Amitai Burstein (Drupal and Elm contributor; Gizra)
Sebastian Siemssen (Drupal contributor, Elm and React developer; Zensations)
John Albin Wilkins (Drupal 8 mobile initiative lead)
Alex Bronstein (Drupal core maintainer; Acquia)

[2016-01-07 16:03] ColinEberhardt commented on #1541
I think this highlights a problem with the whole concept of adding 'perf' implementations. Does the lack of a 'perf' implementation for a particular framework mean that the canonical implementation is already performance optimised? How 'deep' should the optimisations be?

Personally I think it is better to have a single implementation for each framework and instead if someone wants to performance

[2016-01-07 16:42] samccone commented on #1575
I can't imagine that there was no bias ^ ;)

[2016-01-07 16:46] samccone commented on #1541
People kinda already do this... however no one doing these perf checks ever looks or finds them to test against.. In my mind standardizing the way you get to the perf implementation via /perf makes it SUPER simple for people doing this kind of testing to blindly jump to the "production ready" version

^ See my last point on the initial issue

This is kinda up to the person doing it, I am fine with

[2016-01-10 15:09] blacksonic opened #1580 "browser.wait triggered multiple times in tests"
I implemented Angular2 example with ES2015 but the browser tests fail, because of webdriver. When entering todo text the ```browser.wait``` callback is triggered multiple times, making it unable to run any tests against Angular2 implementations. The same goes for the Typescript Angular2 example.

[2016-01-10 15:19] #1580 closed

[2016-01-10 15:35] blacksonic commented on #1565
Implemented in {tastejs}/{todomvc}#{1581}

[2016-01-16 02:38] dmitriz commented on #1541
Totally agree with the importance of SUPER simple.

[2016-01-22 19:14] simondiep opened #1589 "Angular2 example doesn't run locally"
When I clone todomvc and open todomvc/examples/angular2/index.html in my Chrome browser, all I get is a JavaScript error.

    XMLHttpRequest cannot load file:/todomvc/examples/angular2/app/bootstrap.js. Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource.fetchTextFromURL @ system.src.js:1049

Note: This is resolved

[2016-01-22 19:16] samccone commented on #1589
Most examples require an http server, that is a known thing.

Thanks for the issue.

[2016-01-22 19:16] #1589 closed

[2016-02-23 20:51] brykov opened #1598 "Aurelia doesn't work"
http://todomvc.com/examples/aurelia

Doesn't work for me.

[2016-02-23 21:54] dmethvin commented on #1598
Some more detail would really help save others time. I checked it out in Chrome and it seems to work fine. In Firefox, Edge,  and IE11, it's getting a 404 on the built file.

[2016-02-23 22:00] brykov commented on #1598
Sorry, yes, it's FF in my case.

[2016-02-24 01:50] CynthiaLYY commented on #1598
Thank you for your suggestion. I will write more details about my code and test all functions and objects again. I am a begginer in JS, if you would like to join me to update the js library, it will be very helpful and gateful. PS, my English is not good. Hope I have made myself understood.

[2016-02-24 01:55] CynthiaLYY commented on #1598
@brykov  Thank you for your attention. I will keep updating and fixing bugs.  I am a begginer in JS, if you would like to join me to update the js library, it will be very helpful and gateful. PS, my English is not good. Hope I have made myself understood.

[2016-02-26 11:32] robinchesterman opened #1599 "Backbone TypeScript example will fail to compile with TS 1.8.2"
A new thing in TS 1.8.2 is that "'super' must be called before accessing 'this' in the constructor of a derived class".

The Backbone/TypeScript ToDoMVC example will not pass this rule: https://github.com/tastejs/todomvc/blob/gh-pages/examples/typescript-backbone/js/app.ts#L199

[2016-02-26 14:18] dmethvin commented on #1599
TypeScript made a [breaking change on a patch release](https://github.com/Microsoft/TypeScript/issues/4211), it seems to have been forced by ES6 rules but it would have been better IMO to wait for at least a minor. The fix looks relatively easy, but should the package.json lock down the TypeScript version to prevent that happening in the future?

[2016-02-26 14:40] robinchesterman commented on #1599
That would help people who get the whole project, but confuse anyone just coming for a quick code example. There seem to be a few approaches with the new rule and Backbone:

1. pass all the properties into the super constructor
2. define properties directly on the prototype
3. use decorators
4. add properties as methods, and use getters, e.g. get tagName() { return "li"}

Approach 1 will be the si

[2016-02-29 12:08] WyohKnott commented on #1598
I've got this bug in Firefox 45.0b10:

[code]

[2016-02-29 12:22] brykov commented on #1598
Obviously, it's related to the missing javascript resource:
[code]
Note that backslash before ```bundled.js```
If I change backslash to the usual one like ```http://todomvc.com/examples/aurelia/dist/bundled.js``` the file becomes accessible.

[2016-03-03 11:24] parminderkaur1992 opened #1601 "how to save lists in database"

[2016-03-03 11:38] sindresorhus commented on #1601
This is better asked on http://stackoverflow.com ;)

[2016-03-03 11:38] #1601 closed

[2016-03-03 22:43] dmethvin commented on #1599
Seems like the first option is easiest and still scales? Instead of setting `this.tagName` you set `options.tagName` and that gets passed by way of `super(options)`. The current way actually seemed a bit strange, I had to [go look at the Backbone source](https://github.com/jashkenas/backbone/blob/712b42b4f378d7e187712dac6d9c4c5a0c0a9a78/backbone.js#L1221) to prove to myself it would get its proper

[2016-03-17 13:03] steelbrain commented on #1535
Bump

[2016-03-21 21:54] fresheneesz opened #1603 "My library doesn't quite fit your format"
I'd like to write a todo app for this using [Gem.js](https://github.com/Tixit/Gem.js), but it uses pure javascript and a different way to do styles than normal css. This would require me to translate index.html and base.css into Gem.js javascript. I want to make sure this is ok before I spend my time doing it. Is this ok?

[2016-03-23 02:56] watsonkelvin opened #1604 "Marko's todomvc"
Please consider adding [todomvc-marko](https://github.com/marko-js-samples/todomvc-marko), which is written using:
- [Marko](https://github.com/raptorjs/marko) - View rendering using HTML-based templates
- [Marko Widgets](https://github.com/raptorjs/marko-widgets) - Binding client-side behavior to rendered UI components
- [Lasso.js](https://github.com/lasso-js/lasso) - JavaScript and CSS bundling

[2016-03-23 14:31] philidem commented on #1604
:+1:

[2016-03-26 12:30] ipetropolsky opened #1605 "TypeError: webdriver.WebDriver.Logs is not a function"
[code]

Framework does not matter. It's because webdriver logs [should never be instantiated directly](https://github.com/SeleniumHQ/selenium/blob/fa5ac92b451cff497e686d8e1e67c9c3101440a3/javascript/node/selenium-webdriver/lib/webdriver.js#L1429-L1432).

[2016-03-26 19:15] #1605 closed

[2016-03-28 19:59] LeviSchuck opened #1608 "Elm - Scrolling not present"
The Elm todomvc can go beyond the bottom of the page with multiple tasks and scrolling does not seem to work or is present on the page.

[2016-03-30 15:12] samccone commented on #1492
Resolved!

[2016-03-30 15:12] #1492 closed

[2016-04-01 01:45] silverbux opened #1610 "Site is blurred"
http://todomvc.com/
happy april fools?

[2016-04-01 01:48] samccone commented on #1610
works as intended!

[2016-04-01 01:48] #1610 closed

[2016-04-04 22:32] fresheneesz commented on #1603
@samccone Thoughts? What do i do?

[2016-04-06 23:09] badraufran opened #1611 "Meteor link broken"
The link to the Meteor example is broken. [http://todomvcapp.meteor.com/](http://todomvcapp.meteor.com/) doesn't exist.

[2016-04-12 03:59] kaeyeh opened #1613 "Component based AngularJS"
Hi,
I'd like to contribute a version of todomvc using component based AngularJS (version 1.4), the concept has been specified in the following documents:
http://busypeoples.github.io/post/thinking-in-components-angular-js/
https://leanpub.com/web-component-development-with-angularjs

I have the TypeScript version attached so you can have an idea, and JavaScript version can be easily derived. If yo

[2016-04-15 14:49] fokusferit opened #1616 "Angular Example Tests are not running"
I've cloned the todomvc project and wanted to use the angularjs example for some "refresh" of my angular 1.x knowledge + testing.

The README says:

[code]

Which results in an overall fail of all 17 tests with this error:

[code]

After trying some things out, like making all versions fix to 1.4.3 and not the current 1.5.3 (which doesn't changed the error),

I've checked the karma.conf.js file an

[2016-04-15 19:14] JulianSamarjiev opened #1617 "Meteor example is offline"
The correct one seems to be - https://www.meteor.com/tutorials/blaze/creating-an-app

[2016-04-15 22:03] passy commented on #1617
Hey @JulianSamarjiev, could you be a bit more specific? I checked the links we have in the sidebar and they all seem to work. Which one is broken?

[2016-04-16 04:33] JulianSamarjiev commented on #1617
Hey @passy , this one doesn't work for me - https://github.com/tastejs/todomvc/blob/master/index.html#L307

[2016-04-16 10:29] passy commented on #1617
Thanks! I've removed the listing for now. Based on your URL I thought you were referring to the tutorial material.

@tastejs/todomvc Does anyone remember the credentials situation? I'm not sure if someone has to re-upload the app or if they've changed the hosting model altogether.

[2016-04-23 00:01] tbranyen opened #1622 "More clarity around 'no trailing commas' JSCS rule"
Hi @TasteJS,

I'd like to help clarify the reasoning behind ['no trailing commas rule']() for the code style guide: https://github.com/tastejs/todomvc/blob/master/codestyle.md

It can be as simple as 'for legacy and consistency reasons' or 'because we don't agree with that language feature'. The old technical reasoning was that IE 6/7 couldn't understand them. It seems now, at least according to [

[2016-05-02 18:46] passy commented on #1622
Our style guide is almost entirely about consistency. A lot of the rules were in JSCS are just encodings of what we found was already the case in most of the examples.

Generally, our goal is to avoid confusion for newcomers wherever possible. In this case I'm not sure if there's a rationale along those lines. I'd personally be happy to relax that rule.

[2016-05-05 00:11] a13ks3y commented on #1616
Have the same issue, https://github.com/tastejs/todomvc/pull/1625 works for me, but don't passing CI for some reason

[2016-05-08 08:54] blacksonic commented on #1613
Why not version 1.5? It introduces one-way binding and components which helps a lot in making component based applications.

[2016-05-09 21:43] thejourneydude opened #1627 "How do I start the server?"
I rarely use npm or node so I'm absolutely lost on how to start the server. There are no instructions in the readme. I ran `npm install`. Everything works fine. I then run `npm start` but no file is set in `package.json` to run when starting npm.

My question is can we add some documentation for users new to Node/NPM on how to start their server locally. In my case I'm running the angularjs exampl

[2016-05-13 05:49] kaeyeh commented on #1613
We have lots pre 1.5 code was implemented as such, may not able to migrate for a while. For the new application we do use 1.5 component, I can contribute 1.5 version if you think it has some value. Thanks.

[2016-05-14 21:29] millerbryan opened #1628 "Backbone.js: How does the view bind with a model?"
I've been working my way through Addy's book "Developing Backbone.js Applications" and studying the code for the todo example here.   The one thing that is not clear to me is how a view is bound to a model.   I see `this.model` used all over the place but I cannot find any code or declaration which tells a view which model to use.  What am I missing?

In the Ampersand.js app.js code I can see each

[2016-05-14 21:49] millerbryan commented on #1627
@thejourneydude

I notice some examples (AmpersandJS) include start declarations in their package.json files.  However, all of the examples I have run only require "npm install" to install packages (Node should not need to run for them to work).  Once that has completed, simply point your browser to index.html.

[2016-05-19 16:32] tbranyen commented on #1627
I just run a simple http server.  Something like this should work:

[code]

The open up [http://localhost:8080](http://localhost:8080) to see the page. It's a static site, doesn't need anything more complicated than that.

[2016-05-19 16:37] tbranyen opened #1630 "Does this test work?"
From what I can tell this test isn't doing anything, and implementing it as written fails:

[code]

Yet if you comment out the `page.editItemAtIndex` line, the test still passes for the Backbone framework. I then went back to my implementation, and changed my app logic to not remove on empty string being edited (opposite of what this test is trying to prove), and it worked!

So I'm wondering if th

[2016-05-19 16:39] millerbryan commented on #1627
So far, I have not had to run an HTTP server.  All of the code runs client-side in the browser (which is the point of client-side frameworks).  Do you recall which frameworks have required an http-server?   I have not tried it with Ampersand so far as it seems to run fine in the browser.

[2016-05-19 16:42] tbranyen commented on #1627
You probably don't need it, but when you're trying to test it in Browserstack or something, it makes a lot more sense to back it up with an actual address.

[2016-05-19 16:48] millerbryan commented on #1627
@tbranyen

Good point!  I hadn't considered that aspect.

[2016-05-19 16:53] millerbryan commented on #1628
I now see that when a new todo view is instantiated it is bound to the todo model.

`var view = new app.TodoView({ model: todo });`

I missed that in my first go at this.

Cheers

[2016-05-19 16:53] #1628 closed

[2016-05-21 09:29] sotayamashita opened #1631 "New Todo implementation with Choo"
Here is a [choo](https://github.com/yoshuawuyts/choo)

[2016-05-30 18:39] guypeer8 opened #1633 "New Todo App Implementation"
Hi guys,
I wrote a nice and lightweight framework named Skeleton.js and implemented TodoMVC.
Please check it out and give me green light to make a pull request.
It's here: https://github.com/guypeer8/skeleton.js.

[2016-06-10 01:35] samccone commented on #1069
DONE!

[2016-06-10 01:35] #1069 closed

[2016-06-10 01:35] samccone commented on #1333
updated to latest ember. This is no longer an issue

[2016-06-10 01:35] #1333 closed

[2016-06-10 01:59] samccone opened #1635 "auto deploy is breaking the site..."
seems to not be copying any of the root files :(

https://github.com/tastejs/todomvc/commit/582130daf509773298fed73cdc8e9f83a8f30fba

[2016-06-10 07:47] addyosmani commented on #1333
Thanks Sam!
On 10 Jun 2016 2:35 a.m., "Sam Saccone" <notifications@github.com> wrote:

[2016-06-12 16:00] iiSeymour opened #1637 "vanilla-es6 race condition?"
In the [vanilla-es6](https://github.com/tastejs/todomvc/tree/master/examples/vanilla-es6/src) example  [`app.js`](https://github.com/tastejs/todomvc/blob/master/examples/vanilla-es6/src/app.js) creates a new [`todo`](https://github.com/tastejs/todomvc/blob/master/examples/vanilla-es6/src/app.js#L27) which creates a new [`View`](https://github.com/tastejs/todomvc/blob/master/examples/vanilla-es6/sr

[2016-06-14 04:47] samccone commented on #1635
A+ error gulp A+
https://travis-ci.org/tastejs/todomvc/builds/136589846#L1176

I have bisected this issue down to the ember cli commit... there is a funky file somewhere ---

attemping to bisect further +1 for 🐵 patching gulp src for real logs 🐐

[2016-06-14 12:06] addyosmani commented on #1635
Thanks for diving in to discover what's breaking the deploys @samccone 🍪 😎

[2016-06-15 04:51] samccone commented on #1635
With a patch to vinyl-fs lib/src/getContents/index.js we can see the failure is coming from here

![image](https://cloud.githubusercontent.com/assets/883126/16068242/43104e20-3279-11e6-81d2-377aaeb50203.png)

symlink check is failing to detect that this is a folder...

![image](https://cloud.githubusercontent.com/assets/883126/16068258/821bae48-3279-11e6-879c-b1fa4da21969.png)

Prob since we are u

[2016-06-15 04:56] samccone commented on #1635
![image](https://cloud.githubusercontent.com/assets/883126/16068407/621dd070-327a-11e6-9c07-9694f7180ed8.png)

gulp is latest ✅

gulp depends on old vinyl
https://github.com/gulpjs/gulp/blob/master/package.json#L41

https://github.com/gulpjs/gulp/issues/1604

🐐

[2016-06-15 05:00] samccone commented on #1635
Ok a few options

1) figure out how to not symlink during the build phase in ember-cli
2) write or use our own copy task that handles symlinks

@sindresorhus @addyosmani @passy do y'alll have opinions on this?

[2016-06-15 05:07] samccone commented on #1635
Here is the origin issue from  Oct 4, 2014 🌵
https://github.com/gulpjs/vinyl-fs/issues/39

[2016-06-23 07:59] davewallace opened #1640 "Failure to npm install on Windows 10"
Cloned today and after completion ran `npm install` which failed to fully install. I'm running in elevated privs mode and to note my work environment installed properly, which is also Windows 10 running `npm install` in elevated privs mode.

Console output here: https://gist.github.com/davewallace/3bef739c5a4957b087db28a0c3bd00b4

I've re-run `npm install` but no cigar. `gulp` subsequently also fa

[2016-06-23 17:23] samccone commented on #1640
Seems to be a npm imgmin issue not directly related to todomvc.

[2016-06-23 17:23] #1640 closed

[2016-06-23 22:06] davewallace commented on #1640
Followup issue with imgmin here: https://github.com/gruntjs/grunt-contrib-imagemin/issues/109

[2016-06-25 11:26] sindresorhus commented on #1635
The second option sounds easier. Lots of copy modules on npm.

[2016-06-26 10:33] vuesomedev opened #1645 "Browser tests for Angular 2 still fail"
I'm trying to submit my Angular 2 ES2015 example, but the tests still fail after upgrading to RC.3.
The `sendKeys` problem seems to be solved https://github.com/angular/angular/issues/6250, but there seems to be another issue.

The Xpath selector for the input field returns a promise, which is executed multiple times.
https://github.com/tastejs/todomvc/blob/master/tests/page.js#L257
In the highlig

[2016-06-26 10:43] blacksonic commented on #1645
Opened a ticket also on the main repo https://github.com/angular/angular/issues/9612

[2016-06-28 17:14] #1635 closed

[2016-06-28 17:34] michalsnik commented on #1617
Hi @JulianSamarjiev and @passy, I also noticed this but I think it shouldn't be added for now.
Meteor released version 1.3  with some really big changes and improvements and 1.4 is soon to be released. Current todoMVC example in Meteor uses version 1.0.3 if I'm correct which is really old.

Another thing is that meteor dropped support for free deploy on their domain. I'm going to create new todoMV

[2016-06-28 17:36] michalsnik commented on #1617
Btw. this issue duplicates #1611, so it would be reasonable close one of them

[2016-07-02 14:26] michalsnik commented on #1617
I created new TodoMVC example, and now I'm going to get hosting for it.
https://github.com/michalsnik/todomvc-meteor

When it's online I'll make separate PR with this.

[2016-07-03 22:28] samccone commented on #1617
👍

[2016-07-05 20:16] Dharmoslap commented on #1063
Garbage collected https://techcrunch.com/2015/11/06/nopen-source/

[2016-07-05 20:16] #1063 closed

[2016-07-06 14:50] NullVoxPopuli opened #1648 "React in ES6?"
it looks like the react stuff is ES5, which adds a lot of prototype bloat. :-(

[2016-07-07 11:27] yevgnenll commented on #1627
i recommend that [browswersync](https://www.browsersync.io/)

[2016-07-07 15:12] samccone commented on #1627
+1 to what @tbranyen said

also python -m SimpleHTTPServer will work in the root folder.

[2016-07-07 15:12] #1627 closed

[2016-07-10 22:13] simondiep opened #1650 "The Emberjs example page returns a 404"
The link to the Emberjs TodoMVC example is not working.
http://todomvc.com/examples/emberjs/

[2016-07-11 16:45] samccone commented on #1650
For some reason ghpages does not like the symlinks we have in place
https://github.com/tastejs/todomvc/blob/master/examples/emberjs/index.html

A simple solution that I can think of would be to write a bit of code that walks the symlinks and just copies them over.

[2016-07-11 19:29] hkjpotato opened #1651 "About VanillaJS"
Hi, I am a self learner about front end and I find your TodoMVC very helpful for me to learn the framework. However, for the vanilla version, I find some files such as node_modules and test not necessary for running the app. Besides, I am confused about the base.js in the todomvc-common not necessary for this app, it seems it's a duplicate of the template.js. Am I right or do I miss something? Tha

[2016-07-11 20:27] samccone commented on #1651
Closing as a non-issue however others can chime in here to answer your questions.

[2016-08-01 05:05] genediazjr opened #1658 "TodoMVC + Hapi"
Hi, I would like to ask if this would qualify to be included in TodoMVC.

https://github.com/genediazjr/hapitodo
https://hapitodo.herokuapp.com

Thanks!

[2016-08-02 03:32] lucasqiu opened #1660 "Ember example app not working after install"
Steps to reproduce:
  1. cd into 'examples/emberjs/todomvc' directory
  2. run 'npm install'
  3. run 'bower install'
  4. run 'npm start'
  result:  empty homepage

Note: The app does build and pass simple tests successfully.

[2016-08-10 03:34] redspear119 opened #1662 "A new MVVM framework--avalon"
please look at this framework:
https://github.com/RubyLouvre/avalon

[2016-08-17 13:42] buaya91 opened #1668 "Broken link on http://todomvc.com/examples/binding-scala/#/"
The link of `source` is broken,

expected:
https://github.com/ThoughtWorksInc/todo

actual:
https://github.com/tastejs/todomvc/tree/gh-pages/https://github.com/ThoughtWorksInc/todo

[2016-08-19 10:13] Atry commented on #1668
Hi, @samccone. Could you merge this PR #1666 ?

[2016-08-19 16:50] #1668 closed

[2016-08-22 18:30] MiguelAraCo opened #1671 "todomvc.com is down"
http://www.downforeveryoneorjustme.com/todomvc.com

[2016-08-22 18:46] roryp commented on #1671
i thought my browser was broken!

[2016-08-22 20:55] samccone commented on #1671
thanks looking into it.

[2016-08-23 02:11] roryp commented on #1671
The irony is that i have a demo in 6 hours showing the site. Appreciate it if you could get it up

[2016-08-23 05:37] sabakugaara commented on #1671
+1
[code]

[2016-08-23 16:32] samccone commented on #1671
@addyosmani is looking into this.

[2016-08-24 01:34] sabakugaara commented on #1671
It's up now

[2016-08-24 01:43] #1671 closed

[2016-08-24 15:30] addyosmani opened #1674 "Redux implementation"
Source: https://github.com/reactjs/redux/tree/master/examples/todomvc
Contributors: @gaearon @jugend

Hey folks, would either of you be interested in PR'ing in a Redux implementation to TodoMVC? I know you maintain your own version over on the redux repo but just wanted to check ⛵ The main benefit is listing on the site so folks can compare with other implems.

What some folks do is continue updat

[2016-08-26 11:00] RegencySoftware opened #1675 "PouchDB"
I like the update of the TO-DO site.

I do not see the PouchDB sample any longer?

[2016-08-29 20:54] denar90 opened #1680 "Update Backbone, Marionette using es6"
What about updating Backbone, Marionette todos using es6? I'm talking only about pure stuff which are supported by browsers, no build tools or smth.

[2016-08-30 17:04] svetlyak40wt opened #1681 "Common Lisp + Parenscript + React app"
Hi, I want to submit an implementation in Common Lisp and Parenscript. I already rewrote basic React example, now polishing the code and making it more concise by using language's features.

What do you think, guys and girls?

[2016-09-01 05:43] onlyurei opened #1683 "Travis CI tests failing"
Looks like this error has been going on for a while:

[code]

[2016-09-02 09:10] matt-gadd opened #1687 "Consider making the tests available via a separate distributable"
It would be great if you could publish the browser tests to npm standalone so new examples can test against them while in progress. As far as I can tell at the moment the tests are not included in the main npm distributable and so are only available by cloning the full repo.

[2016-09-04 21:19] Frank683 opened #1688 "SapUI5 implementation broken"
Hi,

the SapUI5 implementation of TodoMVC is broken:

![image](https://cloud.githubusercontent.com/assets/14088575/18233929/c4987776-72f5-11e6-9ef4-a70737d88334.png)

@akudev

Maybe it would make sense to include a specific UI5 version from the CDN and not the latest one?

[2016-09-05 10:11] passy commented on #1688
We wanted to do this, but SAP had some licensing problems preventing us from doing that, IIRC.

[2016-09-05 14:30] Frank683 commented on #1688
Ok, I don't know what's the exact licensing issue but in that case OpenUI5 (it also has its own CDN) may be an alternative?

Otherwise if you can't get the implementation to work why leave it online?

[2016-09-18 13:51] jmfayard opened #1690 "Typescript broken link"
Broken link here https://github.com/tastejs/todomvc/blame/gh-pages/examples/typescript-react/readme.md

[code]

[2016-09-18 18:00] #1690 closed

[2016-09-21 00:31] #1660 closed

[2016-09-22 17:12] addyosmani commented on #1688
I would personally be in favor of us dropping the SapUI5 version and replacing with #1570.

[2016-09-22 17:14] addyosmani commented on #1680
I would personally be fine with a new PR introducing an ES6 Backbone implementation (with a view to us eventually removing the ES5 one). On Marionette, I'll loop in @samccone for his thoughts on whether an update there would replace or be an addition. I have less insight into that community :)

[2016-09-22 19:54] denar90 opened #1692 "Check page speed for each new PR"
I propose to run page speed for checking each new PR.
Purpose of running it with localhost, that new PR don't have to be merged to check page speed.
We are currently implementing this approach for marionettejs.com -  https://github.com/marionettejs/marionettejs.com/pull/486
The effort of this is insurance that newly PR is not downgrading page speed for site. I wrote small module - https://github.c

[2016-09-27 14:49] himanshuchauhan commented on #1193
Should  I do this now?

[2016-09-27 15:26] addyosmani commented on #1193
@himanshuchauhan thanks for the offer. We're tackling this over in https://github.com/tastejs/todomvc/pull/1533. That said, any help improving it further after that work lands would be appreciated.

[2016-09-28 19:28] mendrik opened #1694 "is this project dead?"
plenty of open pull requests, the current css template works just in chrome, IE and firefox and iOS safari is broken. just wondering if it makes any sense to contribute, or at least a readme update would be nice.

[2016-09-28 19:46] samccone commented on #1694
Any help reviewing PRs / improving things is welcomed. This issue however is not.

[2016-09-28 19:46] #1694 closed

[2016-09-29 19:55] SIRHAMY opened #1695 "EmberJS TodoMVC Broken"
The link from the main pages directs to: http://todomvc.com/examples/emberjs/index.html/examples/emberjs/

The URL returns a 404 not found error.

[2016-10-02 13:23] denar90 opened #1698 "Use DefinitelyTyped Backbone in typescript-backbone"
Due to TODO comment https://github.com/tastejs/todomvc/blob/master/examples/typescript-backbone/js/app.ts#L50 DefinitelyTyped https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/backbone should be used.
Is anyone against it?

[2016-10-02 22:09] Luiz-N commented on #1695
The working url is:
[http://todomvc.com/examples/emberjs/index.html](http://todomvc.com/examples/emberjs/index.html)
It's probably just some sort of re-direct bug.

[2016-10-03 04:56] OfoeApronti opened #1699 "Link "Building Larger Apps with Vue.js" on TodoMVC page Not Working"
Link "Building Larger Apps with Vue.js" on TodoMVC page redirects to "http://vuejs.org/guide/application.html". The page however shows a 404.
Thanks

[2016-10-03 09:28] #1699 closed

[2016-10-03 09:29] passy commented on #1699
Thanks for the report. Looks like this didn't make it over to the new 2.0 page.

[2016-10-09 01:42] afrievalt opened #1702 "firefight js TodoMVC"
Very new to open source, please be kind.
# Firefight js TodoMVC

[TodoMVC](https://firefight.firebaseapp.com/samples/TodoFirefight/index.html)
[example source gist](https://gist.github.com/afrievalt/5677ce1e65568311ebce7e1c39f8c9d8)
[framework source](https://github.com/afrievalt/firefight)
[framework website](https://firefight.firebaseapp.com/)
### Easiest SPA library

Firefight.js is a JavaScrip

[2016-10-16 20:39] djangojack opened #1704 "update angular2"
can we get an update for angular2?

[2016-10-17 09:03] simonneutert opened #1705 "Ember.js on website not leading to the proper path"
i guess for this reason:

[2016-10-18 19:27] #1705 closed

[2016-10-19 16:34] nuragic opened #1707 "Angular app with ES6, components, etc."
Hi!

Would you consider a new Angular app built with ES6, and components?

Thanks!

_PS: if is not the case, feel free to close quickly and sorry for the noise ;)_

[2016-10-19 18:17] jernejc opened #1708 "Ember example blank"
Hi,

the ember.js example loads blank:
http://todomvc.com/examples/emberjs/index.html/examples/emberjs/

[2016-10-25 14:31] Otolock commented on #1708
It looks like the link is bad. If you erase the extra `/examples/emberjs/`, it loads the app correctly.

[2016-10-25 14:52] jernejc commented on #1708
Ok, seems like it was fixed.
That's the link I was being redirected to if visiting:
http://todomvc.com/examples/emberjs/index.html

Thanks

[2016-10-25 14:58] Otolock commented on #1708
The app is working, but the redirect on the main page is acting weird for Ember.

[2016-11-02 13:06] perusal opened #1711 "React Native + NativeBase ToDo App"
Hey,

[We](nativebase.io) have recently created a [ToDo app upon React Native and NativeBase](https://github.com/GeekyAnts/NativeBase-TodoApp).
We'll really appreciate if you can take a look and see if it's worth including on your repo. :)

Thanks.

[2016-11-04 10:58] stevermeister opened #1713 "Typescript2 with @types/angularjs"
any plans to upgrade?

[2016-11-06 14:48] arthurvr commented on #1702
Thanks for working on this. Nice work so far! I think we should wait till the framework and its community matures a bit though. Anyone else any thoughts on this one?

[2016-11-06 15:21] arthurvr commented on #1675
We don't have a PouchDB example (never had as far as I know). They do have [their own TodoMVC version](http://pouchdb.com/getting-started.html), but it's not hosted by us :)

[2016-11-06 15:21] #1675 closed

[2016-11-06 15:22] arthurvr commented on #1633
Ref #1629, I left my comment there. Thanks for working on this and sorry  for the late response though!

[2016-11-06 15:22] #1633 closed

[2016-11-06 15:25] arthurvr commented on #1658
I've used Hapi before, it's quite neat. But it's a Node.js server framework, I kinda feel like it's out of scope for TodoMVC.

[2016-11-06 15:28] arthurvr commented on #1708
Hm, strange. Closing this as a duplicate of https://github.com/tastejs/todomvc/issues/1695 though.

[2016-11-06 15:28] #1708 closed

[2016-11-06 15:32] arthurvr commented on #1695
Hm, indeed, strange. I guess something's going on in its router. I don't really have time to investigate this myself atm though, so PRs welcome 😆  The ember apps needs some serious cleanup regarding some other stuff too btw :/

[2016-11-06 15:36] arthurvr commented on #1617
Any updates @michalsnik? Thanks in advance :)

[2016-11-06 15:40] arthurvr commented on #1695
Oh, this is a duplicate of https://github.com/tastejs/todomvc/issues/1650, sorry :)

[2016-11-06 15:40] #1695 closed

[2016-11-06 15:43] arthurvr commented on #1608
Thanks for the report. What platform are you on and what browser are you using? I can't seem to replicate this.

[2016-11-06 15:53] LeviSchuck commented on #1608
I am unable to replicate this on the latest browsers, however I believe it was Safari on OS X Yosemite.

Closing

[2016-11-06 15:53] #1608 closed

[2016-11-06 16:01] arthurvr commented on #1611
Thanks for the report! I'm gonna close this as it's a duplicate of #1617 :)

[2016-11-06 16:01] #1611 closed

[2016-11-06 16:06] arthurvr commented on #1543
This was fixed in #1545. Thanks for the report!

[2016-11-06 16:06] #1543 closed

[2016-11-06 16:08] arthurvr commented on #1707
Let's close this and discuss those in https://github.com/tastejs/todomvc/issues/1613 and https://github.com/tastejs/todomvc/issues/1565. There's already an open PR so feel free to help us review it 😺

[2016-11-06 16:08] #1707 closed

[2016-11-06 16:34] arthurvr opened #1714 "Drop the ExtJS + DeftJS app"
The project seems poorly maintained, the app isn't spec compliant by far, and nobody in the community seems eager to maintain the example app. Everybody alright with (at least temporary) getting rid of it? :)

[2016-11-06 16:50] arthurvr commented on #1598
Works for me, I guess it's fixed by #1545.

[2016-11-06 16:50] #1598 closed

[2016-11-06 17:23] arthurvr opened #1715 "Drop the `thorax` and `thorax_lumbar` apps"
The last Thorax release was in March 2014, Lumbar in January 2015 and both projects haven't been really active for quite a while. Both example apps don't really have active maintainers and aren't really up-to-date, so both apps seems like perfect candidates for removal. Any thoughts @tastejs/todomvc?